.breadcrumb{
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
    a, span{
       color: #868686;
       margin-right: 3px;
    }
    @media(max-width:480px){
        padding: 10px 5px 10px 5px;
    }
}