.site51_foot_col0_meter{
    background-image: url('../img/bg_foot.png');
    background-color: #303030;
    padding: 36px 0 22px 0;
    .text_content{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);     
        margin-bottom:20px ;         
    }
    .container_fix{
        .fluild{
            padding-bottom: 25.25px;
            border-bottom: 0.5px solid #FFFFFF;
            margin-bottom: 19px;
            .rows{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .footer_1{
                   .logo_foot{
                       margin-bottom: 15px;
                       img{}
                   }
                   .content_foot{
                       margin-bottom: 15px;
                       p{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150.36%;
                        color: rgba(255, 255, 255, 0.8);
                       }
                   }
                   .info_foot{
                       .flex_foot{
                           display: flex;
                           justify-content: left;
                           flex-wrap: wrap;
                           margin-bottom: 12px;
                           .img_foot{
                               width: 15px;
                               margin-right: 15px;
                               img{
                                   width: fit-content;
                                   height: fit-content;
                               }
                           }
                           .text_foot{
                               a{
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 21px;
                                    color: rgba(255, 255, 255, 0.8);
                                    text-decoration: none;
                               }
                           }
                       }
                   }
                }
                .footer_2{
                    ul{
                        list-style: inherit;
                        padding-left: 30px;
                        li{
                            margin-bottom: 12px;
                            
                            a{
                                font-family: Helvetica Neue;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 170.5%;
                                color: rgba(255, 255, 255, 0.8);
                                text-decoration: none;
                            }
                            &::marker{
                                color: #FFFFFF;
                                font-size: 10px;
                            }
                        }
                    }
                }
                .footer_3{
                    p{
                        font-family: Helvetica Neue;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 164.71%;
                        text-align: justify;
                        color: #FFFFFF;
                        margin-bottom: 25px;
                    }
                    form{
                        .flex_foot{
                            display: flex;
                            input{
                                width: 285px;
                                outline: 0;
                                padding: 13px 13px 13px 15px;
                            }
                            button{
                                width: 50px;
                                height: 47px;
                                background: #289300;
                                padding: 0;
                                outline: 0;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        } 
        .fluild_2{
            .rows{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .service{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .service_1{}
                .service_2{
                    
                }
                .service_3{
                    span{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: #E0E0E0;
                        margin-right: 27px;
                    }
                    a{
                        color: #289300;
                        margin-right: 15px;
                    }
                }
                .service_4{
                    display: flex;
                    align-items: center;
                    span{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        } 
    }
}
.icon_foot{
    position: fixed;
    right: 140px;
    bottom: 72px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        color: #FFFFFF;
        background: #289300;
        margin-bottom: 5px;
        text-decoration: none;
    }
    .backtotop{
        display: none;
    }
    .backtotop.show{
        display: flex;
    }
}

@media (max-width:768px) {
    .icon_foot{
        display: flex;
        right: 20px;
        bottom: 15px;
        a{
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }
        
    }
}