.categories-product-page{
    float: left;
    width: 100%;
    position: relative;
    .product-inhome{
        float: left;
        width: 100%;
        position: relative;
    }
    .section-product{
        margin-top: 0px;
    }
}