.create-page-store{
    .menu-my-store{
        float: left;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 6px #ccc;
        margin-bottom: 30px;
        .banner-store{
            margin-bottom: 0px;
        }
        .img-store {
            margin-top: -25px;
            margin-left: 15px;
            h2 {
                margin: 35px 0px 2px 0px;
            }
            a{
                font-size: 13px;
                color: #989595;
            }
            @media (max-width: 1200px){
                .img {
                    margin-left: 0px;
                    width: 55px;
                    height: 55px;
                }
                h2{
                    color:#4a4a4a;
                    font-size: 13px;
                }
            }
        }
    }
    .form-create-store{
        background: #fff;
        float: left;
        width: 100%;
        box-shadow: 0px 1px 6px #ccc;
        margin-bottom: 30px;
        .item-input-form{
            display: inline-block;
            width:100%;
        }
    }
}


.title-form{
    h2{
        font-size: 15px;
        color: #17a349;
        text-transform: uppercase;
        margin: 0px;
        padding: 19px 25px 10px 25px;
        border-bottom: 1px solid #ebebeb;
        @media(max-width:480px){
            padding: 19px 15px 10px 15px;
        }
        img{
            margin-right: 10px;
            margin-top: -7px;
        }
        i{
            margin-right: 6px;
            background: #17a349;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            color: #fff;
            font-size: 13px;
        }
    }
}

.ctn-form{
    float: left;
    width: 100%;
    padding: 25px;
    @media(max-width:480px){
        padding: 10px;
    }
    .item-input-form{
        & > label{
            float: left;
            width: 170px;
            @media(max-width:767px){
                width:100%;
            }
        }
        .group-input{
            float: left;
            width: Calc(100% - 170px);
            max-width:550px;
            @media(max-width:767px){
                width:100%;
                max-width:100%;
            }
            .full-input{
                float: left;
                width: 100%;
                margin-bottom: 10px;
                @media(max-width:992px){
                    margin-bottom: 5px;
                }
                label{
                    float: left;
                    width: 100%;
                    font-weight:400; 
                    margin-bottom: 5px;
                }
                input, textarea, select{
                    width: 100%;
                    height: 45px;
                    padding: 0px 15px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    margin: 0px 0px 5px 0px ;
                }
                .nice-select{
                    width: 100%;
                    height: 45px;
                    padding: 0px 15px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    margin: 0px 0px 5px 0px ;
                    .list{
                        width: 100%;
                    }
                }
                textarea{
                    min-height:150px;
                    padding: 15px;
                }
            }
            span.note{
                float: right;
                
            }
            .skip{
                color: #a0a0a0;
                margin: 5px 0px;
                font-size: 13px;
                line-height: 20px;
                float: left;
                width: 100%;
            }
        }
        .input-img{
            position: relative;
            min-width: 123px;
            min-height: 123px;
            max-height:123px;
            max-width:123px;
            margin-bottom: 10px;
            margin-right: 10px;
            float: left;
            .note-img{
                position: absolute;
                left: Calc(100% + 30px);
                width: 200px;
                top: Calc(50% - 28px);
            }
            @media(max-width:767px){
                min-width: 100px;
                min-height: 100px;
                max-height:100px;
                max-width:100px;
            }
            &:after{
                content: "";
                background: url(../images/img-button-images.png) 0 0 no-repeat;
                position: absolute;
                left: 0px;
                top: 0px;
                height: 100%;
                width: 100%;
                background-size: auto;
                background-position: center;
                background-color: #fcfcfc;
                border: 1px dashed #e3e2e2;
                border-radius: 2px;
            }
            input{
                float: left;
                width: 100%;
                height: 100%;
                z-index: 9;
                position: relative;
                opacity: 0;
                min-width: 123px;
                min-height: 123px;
                cursor: pointer;
            }
        }
    }
}
.btn-submit-form{
    float: right;
    width: Calc(100% - 170px);
    margin-top: 20px;
    @media(max-width:767px){
        width:100%;
        max-width:100%;
    }
    input{
        border: none;
        margin-right: 15px;
        @extend .btn-style-1;
        @media(max-width:767px){
            width: 100%;
            max-width: 100%;
            margin-bottom: 15px;
        }
    }
    a.interview{
        @extend .btn-style-1;
        background: #8ac945 !important;
        text-align: center;
        @media(max-width:767px){
            width: 100%;
            max-width: 100%;
            margin-bottom: 15px;
        }
    }
}
// menu sidebar

.menu-bar-store{
    float: left;
    width: 100%;
    background: #fff;
    outline:none;
    h2{
        float: left;
        width: 100%;
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
        padding: 15px 15px;
        margin: 5px 0px 0px 0px;
        border-top: 1px solid #cccccc73;
        line-height: 25px;
    }
}
.menu-bar-lv-1 {
    float: left;
    width: 100%;
    position: relative
}
.menu-bar-lv-1 {
    a {
        float: left;
        width: 100%;
        line-height: 30px;
        background: #fff;
        margin-bottom: 1px;
        padding: 5px 15px;
        font-size: 14px;
        color: #000;
        &:hover{
            color: #17a349;
        }
        img {
            margin-right: 10px;
            margin-top: -3px;
        }
    }
    span {
        position: absolute;
        right: 10px;
        top: 0px;
        width: 30px;
        height: 30px;
        font-size: 17px;
        text-align: center;
        padding-top: 9px;
        cursor: pointer;
        transition: all .5s ease-in-out 0s;
        -moz-transition: all .5s ease-in-out 0s;
        -o-transition: all .5s ease-in-out 0s;
        -webkit-transition: all .5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
    }
}

.menu-bar-lv-2, .menu-bar-lv-3 {
    position: relative;
    width: 100%;
    float: left;
    padding-left: 35px;
    a {
        position: relative;
        width: 100%;
        float: left;
        padding-left: 35px;
    }
}

.menu-bar-lv-2, .menu-bar-lv-3 {
    display: none;
}

.menu-bar-lv-2 {
    a {
        padding: 5px 15px;
    }
    i:last-child {
        margin-right: 7px;
    }
}

.menu-bar-lv-3 a {
    padding: 5px 33px;
}

.rotate-menu {
    transform: rotate(180deg);
    top: 10px !important;
}

.menu-btn-show {
    position: absolute;
    width: 28px;
    height: 27px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    right: 15px;
    top: 130px;
    z-index: 9999;
    .border-style {
        width: 100%;
        height: 4px;
        background: #106d62;
        float: left;
        margin-bottom: 5px;
        border-radius: 10px;
        transition: all .5s ease-in-out 0s;
        -moz-transition: all .5s ease-in-out 0s;
        -o-transition: all .5s ease-in-out 0s;
        -webkit-transition: all .5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
    }
    &.active .border-style {
        background: #fff;
        display: none;
        &:first-child {
            transform: rotate(42deg);
            margin-top: 5px;
            display: block;
        }
        &:last-child {
            transform: rotate(-42deg);
            margin-top: -9px;
            display: block;
        }
    }
}
.menu-bar-lv-1 a {
    float: left;
    width: 100%;
    line-height: 30px;
    background: #fff;
    margin-bottom: 1px;
    padding: 5px 15px;
    font-size: 14px;
    color:#000;
    &:hover{
        color: #17a349;
    }
}
.menu-bar-lv-1 a img{
    margin-right: 10px;
    margin-top: -3px;
}
.menu-bar-lv-1 span {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 30px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
    transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s
}

.menu-bar-lv-2,
.menu-bar-lv-2 a,
.menu-bar-lv-3,
.menu-bar-lv-3 a {
    position: relative;
    width: 100%;
    float: left;
    padding-left: 35px;
}

.menu-bar-lv-2,
.menu-bar-lv-3 {
    display: none
}

.menu-bar-lv-2 a {
    padding: 5px 15px
}

.menu-bar-lv-2 i:last-child {
    margin-right: 7px
}

.menu-bar-lv-3 a {
    padding: 5px 33px
}

.rotate-menu {
    transform: rotate(180deg);
    top: 10px!important
}

.menu-btn-show {
    position: absolute;
    width: 28px;
    height: 27px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    right: 15px;
    top: 130px;
    z-index: 9999
}

.menu-btn-show .border-style {
    width: 100%;
    height: 4px;
    background: #106d62;
    float: left;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s
}

.menu-btn-show.active .border-style {
    background: #fff;
    display: none
}

.menu-btn-show.active .border-style:first-child {
    transform: rotate(42deg);
    margin-top: 5px;
    display: block
}

.menu-btn-show.active .border-style:last-child {
    transform: rotate(-42deg);
    margin-top: -9px;
    display: block
}
.fix-img-bg{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    background: #000;
    border-radius: 50px;
    padding: 3px 15px 2px 15px;
    font-size: 13px;
    z-index: 99;
    i{
        margin-right: 7px;
    }
}

.box-banbuon{
    float: left;
    width: 100%;
    margin-top: 20px;
    .row{
        float: left;
        width: Calc(100% - 45px);
        margin:0px -7px;
    }
    .col-lg-4{
        padding: 0px 7px;
    }
}
.btn-add-price{
    float: right;
    width: 45px;
    height: 45px;
    background: #17a349;
    border: none;
    border-radius: 4px;
    button{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background: #17a349;
        border-radius: 4px;
        border: none;
    }
}

/*Tab content*/
.tabs-standard {
  padding: 15px;
    margin: 0 auto;
    background: #fff;
    display: inline-block;
    width: 100%;
}

.tabs-standard section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tabs-standard input {
  display: none;
}

.tabs-standard label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tabs-standard label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabs-standard label[for*='1']:before { content: '\f015'; }
.tabs-standard label[for*='2']:before { content: '\f0e7'; }
.tabs-standard label[for*='3']:before { content: '\f016'; }
.tabs-standard label[for*='4']:before { content: '\f013'; }

.tabs-standard label:hover {
  color: #888;
  cursor: pointer;
}

.tabs-standard input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

.tabs-standard #tab1:checked ~ #content1,
.tabs-standard #tab2:checked ~ #content2,
.tabs-standard #tab3:checked ~ #content3,
.tabs-standard #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  .tabs-standard label {
    font-size: 0;
  }
  .tabs-standard label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .tabs-standard label {
    padding: 15px;
  }
}
.tab-notification{
    .item.unread {
        background-color: #f6fcff;
    }
    .item {
        padding: 25px;
        border-bottom: 1px solid #f4f4f4;
        background: #fff;
        float: left;
        width: 100%;
        position: relative;
        @media (max-width:600px){
            padding: 10px;
        }
        div {
            font-size: 13px;
            margin-bottom: 0;
            float: left;
            &.account-notify-date {
                width: 12%;
                @media (max-width:600px){
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            &.img{
                max-width: 100px;
                margin-right: 20px;
                img {
                    float: left;
                    margin-top: -5px;
                }
            }
            &.account-notify-content {
                width: 88%;
                padding-bottom: 0;
                padding-right: 190px;
                position: relative;
                @media (max-width:600px){
                    width: 100%;
                    padding-right: 0px;
                }
                p {
                    margin-bottom: 0;
                    padding-left: 60px;
                    text-align: justify;
                }
                .account-unread-notify-status-icon {
                    position: absolute;
                    right: 35px;
                    height: 28px;
                    margin: auto;
                    border-radius: 4px;
                    background: 0 0;
                    border: none;
                    color: #007ff0;
                    font-size: 14px;
                    top: -5px;
                    bottom: auto;
                    @media (max-width:600px){
                        position: relative;
                        right: 0px;
                        top: 0;
                        bottom: auto;
                        width: Calc(100% - 100px);
                        text-align: left;
                        float: left;
                    }
                }
                .account-delete-notify-status-icon {
                    right: 0;
                    color: #d52e1d;
                    top: -5px;
                    bottom: auto;
                    position: absolute;
                    height: 28px;
                    margin: auto;
                    border-radius: 4px;
                    background: 0 0;
                    border: none;
                    font-size: 14px;
                    @media (max-width:600px){
                        right: 0;
                        top: -5px;
                        bottom: auto;
                        position: relative;
                        top: 0;
                        bottom: auto;
                        width: 100px;
                        text-align: right;
                        float: right;
                    }
                }
            }
        }
    }
}

/*end tab content*/

.menu-my-store{
    .box-in-special{
        position: absolute;
        right: 0px;
        top: 8px;
        z-index: 999;
        a{
            background: #8ac945;
            color: #fff;
            padding: 5px 15px;
            border-radius: 4px;
            margin: 0px 5px;
            cursor: pointer;
            &:last-child{
                background: #598626;
            }
        }
    }  
}

.form-buywith-gca{
    .item-input-form {
        > label {
            float: left;
            width: 210px;
            font-weight: 400;
            @media(max-width:767px){
                width:100%;
            }
        }
        .group-input {
            float: left;
            width: Calc(100% - 220px);
            max-width: 650px;
            @media(max-width:767px){
                width:100%;
                max-width:100%;
                .input-img {
                    height: initial !important;
                }
            }
        }
        label{
            color: #636161;
        }
    }
}

.required{
    color: red;
}
.form-buywith-gca{
    h2.title-inform{
        float: left;
        width: 100%;
        margin: 15px 0px 20px 0px;
        font-size: 18px;
    }
    .pad-15{
        padding: 0px 15px;
        @media (max-width:480px){
            padding: 0
        }
    }
    @media (max-width:767px){
        label{
            font-weight: 600 !important;
        }
    }
    .awe-check .radio {
        margin-bottom: 8px;
        margin-top: 0px;
    }
    .flex{
        display: flex;
        .awe-check{
            display: inline-block;
            width: 250px;
        }
        @media (max-width:600px){
            display: block;
            margin: 7px 0px;
        }
    }
    .note-check{
        p{
            margin-bottom: 2px;
            font-size: 13px;
        }
        em{
            color: #999;
            font-size: 13px;
        }
    }
    .two-input{
        .input-phone{
            float: left;
            width: Calc(100% - 100px) !important;
            border-left: none !important;
        }
        .location-phone{
            width: 100px !important;
            float: left;
        }
    }
    .full-input{
        p{
            font-size: 13px;
        }
    }
    .btn-submit-form {
        float: left;
        width: initial;
        margin-right: 20px;
        margin-bottom: 20px;
        
    }
    .btn-step-gca{
        line-height: 42px;
        height: 42px;
        width: 100%;
        max-width: 150px;
        text-transform: uppercase;
        font-weight: 500;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 5px;
        border: 1px solid #63a947;
        background-color: #fff;
        -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
        color: #63a947;
        font-size: 14px;
        display: inline-block;
        padding: 0px 15px;
        white-space: nowrap;
        font-family: "Roboto", Arial, sans-serif;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        text-align: center;
            margin-right: 20px;
            float: left;
        &:hover{
            background-color: #63a947;
            color: #fff;
        }
    }
    .upload-cmt{
        .input-img{
            max-width: 500px;
            width: 100%;
            height: 260px;
            max-height: initial;
            @media (max-width:480px){
                height: 200px;
            }
        }
    }
    .bg-pop-white {
        background: #fff;
        float: left;
        width: 100%;
        overflow-y: initial;
        max-height: initial;
        margin: 0 auto;
        &:after {
            content: "";
            background: url(../images/vectorft.png) 0 0 no-repeat;
            position: absolute;
            top: 15px;
            left: Calc(-80%);
            right: 0px;
            margin: auto;
        }
    }
    #login-box-popup, #register-box-popup {
        max-width: 650px;
        margin: 0 auto;
    }
}

