f.detail-product-page{
    float: left;
    width: 100%;
    position: relative;
}

/* detail product*/
#Zoom-1 .mz-expand div a, 
html body .mz-expand div:last-child a, 
html body .mz-expand div:first-child a, 
.mz-expand a, 
.mz-zoom-window div:last-child, 
.mz-zoom-window div:first-child, 
.mz-zoom-window a, .mz-figure span, 
.mz-figure div:first-child, 
.mz-figure div:last-child, 
.mz-figure span:first-child, 
.mz-zoom-window span, .mz-active span  {
    text-indent: 9000px !important;
    color: #000 !important;
    opacity: 0;
}
.detail-product-page{
    float: left;
    width: 100%;
    padding: 10px 0px;
}
.big-img {
    max-height: 500px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    position: relative;
    display: table;
    a{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        figure.mz-figure {
            // display: table-cell;
            // vertical-align: middle;
        }
    }
}
body div div#main div div div div div div div#zoom-fig div a#Zoom-1 > .mz-figure > img {
    max-height: 100% !important;
    width: initial !important;
    max-width: 100% !important;
}
.thumb-img {
    text-align: center;
    float: left;
    width: 100%;
}
.thumb-img a {
    height: 60px;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    @media (max-width:480px){
        height:40px;
    }
}
#owl-detail .owl-item img {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.thumb-img a img {
    display: inline-block;
    
}
figure.mz-figure {
    overflow: hidden;
    margin: 0!important;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 1000px;
}
a[data-zoom-id] img, .mz-thumb img {
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    width: initial;
    height: 100%;
}
.selectors{
    float: left;
    width: 100%;
    margin-top: 30px;
}
#owl-detail {
    opacity: 1;
    display: block;
    width: 400px;
    margin: 30px auto;
    display: inline-block !important;
    float: initial;
    @media (max-width:480px){
        width: Calc(100% - 60px);
    }
}
#owl-detail .owl-item a{
    
    border: 1px solid #ebebeb;
    text-align: center;
}
#owl-detail .owl-prev {
    position: absolute;
    left: -27px;
    bottom: 20px;
    font-size: 22px;
    @media (max-width:480px){
        left: -45px;
    }
}
#owl-detail .owl-next {
    position: absolute;
    right: -27px;
    bottom: 20px;
    font-size: 22px;
    @media (max-width:480px){
        right: -45px;
    }
}
.mz-thumb-selected img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}
#owl-detail .owl-item .mz-thumb-selected {
    border: 1px solid #000;
}
.mz-thumb:hover:not(.mz-thumb-selected) img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}
.no-cssfilters-magic .mz-thumb:hover:not(.mz-thumb-selected) img {
    opacity: 1;
    filter: alpha(opacity=1);
}
.title-detail-product{
    float: left;
    width: 100%;
}
.title-detail-product h1{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 25px;
    color: #333;
    font-family: 'Roboto';
}
.sku-product{
    float: left;
    width: 100%;
    // margin-bottom: 15px;
    margin-top: -3px;
    a{margin-left: 5px;color: #17a349;}
}
// .sku-product ul{
//     padding-left: 0px;
//     margin-bottom: 0px;
// }
// .sku-product ul li{
//     display: inline-block;
//     font-size: 14px;
//     color: #7b7b7b;
//     font-family: 'Roboto';
// }
// .sku-product ul li p{
//     margin-bottom: 0px;
// }
// .sku-product ul li span{
//     color: #333;
//     margin-left: 6px;
//     margin-right: 15px;
//     padding-right: 20px;
//     border-right: 1px solid #333;
// }
// .sku-product ul li:last-child span{
//     border-right: none;
// }
.description-product{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.description-product ul{
    padding: 0px 18px;
    color: #17a349;
    font-size: 14px;
}
.description-product p{
    color: #333;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 2px;
}
.price-product {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ded9d9;
}
.item-price-product{
    float: left;
}
.reviews-product{
    float: left;
    width: 33.3333%;
}
.ship-product{
    float: right;
    width: 33.3333%;
}
.item-price-product p {
    font-size: 20px;
    color: #ff0000;
    text-transform: uppercase;
    font-family: 'Roboto';
    margin-bottom: 5px;
    font-weight: 600;
    display: inline-block;
    margin-top: 0px;
}
.item-price-product span {
    font-size: 15px;
    text-decoration: line-through;
    color: #bebebe;
    display: inline-block;
    margin-left: 10px;
}
.item-price-product spam {
    float: right;
    background: #ffcd08;
    padding: 4px 10px;
    margin-top: -2px;
}
.reviews-product {
    text-align: right;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 15px;
    float: right;
}
.reviews-product .rating-symbol{
    display: inline-block;
}
.reviews-product .rating-symbol i.checked {
    color: #f5c50c;
}
.reviews-product .rating-symbol {
    display: inline-block;
    font-size: 14px;
    color: #dddddd;
}
.reviews-product span{
    margin-left: 7px;
}
.ship-product{
    float: right;
    margin-top: 10px;
    
}
.ship-product p{
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-family: 'Roboto';
}
.ship-product span{
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Roboto';
    text-align: right;
    float: right;
    width: 100%;
}
.option-product-detail{
    float: left;
    width: 100%;
}
.item-option-product-detail{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.item-option-product-detail label{
    font-size: 14px;
    color: #333;
    font-family: 'Roboto';
    float: left;
    width: 100px;
}
.color-product-detail{
    float: left;
}
.color-product-detail span{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    
    float: left;
    margin-right: 15px;
    margin-top: -7px;
}
.color-product-detail span:hover, .color-product-detail span.active{
    border: 1px solid #333;
}
.size-product-detail span {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: #fff;
    float: left;
    margin-right: 15px;
    margin-top: -7px;
    text-align: center;
    padding-top: 4px;
}
.size-product-detail span:hover, .size-product-detail span.active{
    border: 1px solid #333;
    background: #dedede;
}
.quality-product-detail{
    float: left;
    position: relative;
}
.quality-product-detail input {
    float: left;
    height: 35px;
    width: 120px;
    padding-left: 30px;
    margin-top: -7px;
    font-size: 17px;
    font-family: 'Roboto';
    padding-right: 30px;
    text-align: center;
}
.btn_count .increase {
    position: absolute;
    border: none;
    background: transparent;
    top: 1px;
    right: 5px;
    font-weight: 300;
}
.btn_count .reduced {
    position: absolute;
    border: none;
    background: transparent;
    top: 1px;
    left: 5px;
    
    font-weight: 300;
}
.addcart-detail-product{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.addcart-detail-product a{
    margin-bottom: 15px;
}
.social-detail-product{
    float: left;
    width: 100%;
    position: relative;
}
.infor-detail-product{
    float: left;
    width: 100%;
}
.infor-tab-detail{
    float: left;
    width: 100%;

}
.infor-tab-detail ul li {
    display: inline-block;
    float: left;
}
.infor-tab-detail ul li a{
    font-family: 'Roboto';
    color: #d7d7d7;
    font-size: 15px;
    white-space: nowrap;
    text-transform: uppercase;
    float: left;
    padding: 10px 0px 10px 0px;
    margin-right: 30px;
    font-weight: 600;
}
.infor-tab-detail ul li.active a, .infor-tab-detail ul li:hover a{
    color: #333;
    border-bottom: 2px solid #000000;
}
.infor-tab-detail ul{
    padding-left: 0px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}
.ctn-detail-product{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.ctn-left-detail {
    width: 100%;
    float: left;
}
.ctn-left-detail h2{
    color: #4a4a4a;
    float: left;
    width: 100%;
    font-family: 'Roboto';
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ctn-left-detail p{
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 24px;
}
.ctn-left-detail ul {
    list-style: square;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ctn-left-detail ul li p{
    line-height: 24px;
}
.log-detail-product{
    float: right;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.log-detail-product img{
}
.log-detail-product h2 a{
    color: #73b11a;
    float: left;
    width: 100%;
    font-family: 'Roboto';
    font-size: 17px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.thumb-img .slick-prev{
    background: url(../images/icon-prev-thumb.png) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    top: 31%;
    left: -40px;
}
.thumb-img .slick-next{
    background: url(../images/icon-next-thumb.png) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    top: 31%;
    right: -40px;
}
.thumb-img .slick-prev:before, .thumb-img .slick-next:before{
    display: none;
}
.social-detail-product a{
    float: left;
    width: 100%;
    color: #4267b2;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
}
.review  span {
    color: #b3b3b3;
}
.addcart-detail-product {
    .btn-style-1{
        width: initial;
        max-width: initial;
        font-size: 14px;
        text-transform: initial;
        margin-right: 15px;
        &:last-child{
            margin-right: 0px;
        }
        i{
            margin-right: 5px;
            font-size: 15px;
        }
    }
    .chat-buyer{
        background: #8bc845;
    }
}
.infor-buyer-store{
    float: left;
    width: 100%;
    margin-top: 13px;
    font-size: 13px;
}
.helptext-store a{
    color: #17a349;
}
.white-full{
    float: left;
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
}
.address-buyer-store{
    .page-store{
        margin-top: 30px;
        .section-intro {
            background: #f7f7f7;
            .left-intro {
                max-width: 100%;
                float: left;
                padding-right: 0px;
                font-size: 13px;
                @media (max-width:1200px){
                    .img-store {
                        margin-top: 0px;
                    }
                    .img-store .img {
                        border: 2px solid #fff;
                        margin-left: 0px;
                    }
                    .img-store h2 {
                        color: #000;
                    }
                    .img-store span {
                        color: #000;
                    }
                }
                a {
                    color: #63a947;
                    font-weight: 600;
                    font-size: 14px;

                }
            }
        }
    }
}
.btn-contact-shop{
    float: left;
    width: 100%;
    margin: 15px 0px;
    a{
        font-weight: 400 !important;
        color: #000 !important;
        font-size: 14px;
        padding: 6px 14px;
        border: 1px solid #c5b8b8;
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 15px;
        border-radius: 4px;
        background: #fff;
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            background: #63a947;
            color:#fff !important;
        }
    }
}
.title-full{
    font-family: 'Roboto';
    color: #333;
    border-bottom: 1px solid #bdbcbc;
    font-size: 15px;
    white-space: nowrap;
    text-transform: uppercase;
    float: left;
    padding: 4px 0px 12px 0px;
    margin-right: 30px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
}
.view-more-detail{
    cursor: pointer;
    color: #17a349;
    font-weight: 600;
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.ctn-left-detail{
    width: 100%;
    float: left;
    height: 370px;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    @include transition(.4s);
}
.ctn-left-detail.active{
    height: initial;
    -webkit-mask-image: none;
}
.view-more-detail:hover{
    background: #ebebeb;
}
.box-input-review{
    float: left;
    width: 100%;
    font-size: 13px;
    textarea{
        width: 100%;
        margin-bottom: 5px;
        height: 100px;
    }
    spam{margin-right: 10px;}
}
.btn-review{
    margin-top: 15px;
    .btn-style-1{
        line-height: 45px;
        height: 40px;
        width: initial;
        max-width: initial;
    }
}
.review-product-box{
    float: left;
    width: 100%;
    .item-review-product{
        float: left;
        width: 100%;
        margin-bottom: 15px;
        .title-review{
            float: left;
            width: 100%;
            margin-bottom: 6px;
            h2{
                float: left;
                margin: 0px;
                font-size: 15px;
                margin-right: 15px;
                font-weight: 600;
            }
        }
    }
}

.table-banbuon {
    float: left;
    width: 100%;
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
}
.red{
    color: red;
}
.table-banbuon table > thead > tr > th, .table-banbuon table > tbody > tr > th, .table-banbuon table > tfoot > tr > th, .table-banbuon table > thead > tr > td, .table-banbuon table > tbody > tr > td, .table-banbuon table > tfoot > tr > td {
    padding: 8px 15px !important;
    border-right: 1px solid #ebebeb;
}
.title-detail-product{
    .nice-select{
        float: left;
        width: 100%;
        height: 38px;
        line-height: 38px;
        margin-bottom: 12px;
        .list{
            width: 100%;
        }
        .current{
            color: #17a349;
            font-weight: 500;
            position: relative;
        }
        &.address-ship{
            .current{
                padding-left: 115px;
                &:after{
                    content: "Vận chuyển đến:";
                    position: absolute;
                    left: 0px;
                    top: -1px;
                    line-height: 20px;
                    white-space: nowrap;
                    color: #232121;
                }
            }
        }
        &.price-ship{
            .current{
                padding-left: 115px;
                &:after{
                    content:"Phí vận chuyển:";
                    position: absolute;
                    left: 0px;
                    top: -1px;
                    line-height: 20px;
                    white-space: nowrap;
                    color: #232121;
                }
            }
        }
    }
    em{
        margin-top: 5px;
        margin-bottom: 30px;
        float: left;
        width: 100%;
    }
}

.list{
    overflow-y: auto !important;
    max-height:300px;
}
.map iframe, .map img{
    margin-bottom: 20px;
    height: 348px;
}
.map p{
    margin-bottom: 0px;
    font-size: 13px;
}
@media (max-width: 480px){
    .detail-product-page .product-inhome {
        padding: 0px 15px;
    }
    .detail-product-page .list-product-inhome .owl-nav.disabled{
        display: block !important;
    }
}
/*end detail product*/

