.fag-page{
    background: #fff;
    padding-top: 30px;
    .menu-bar-lv-2, .menu-bar-lv-3 {
        padding-left: 15px !important;
            background: #e4dddd2e;
    }
    .menu-bar-lv-1 a {
        padding: 5px 0px;
            font-size: 16px;
    }
    .col-lg-9{
        border-left: 1px solid #ebebeb;
    }
    .a-lv-2{
        background: #ffffff2e;
    }
}
.ctn-trick-faq{
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    h1{
        margin-top: 0px;
        font-size: 32px;
        font-weight: 600;
        color: #333333;
        margin-bottom: 15px;
    }
    .list-trick-faq{
        ul{
            list-style: none;
            padding: 0px;
            margin:0px 0 0 0;
            li{
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                display: -webkit-flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-align-items: center;
                padding: 15px 0px;
                border-bottom: 1px dotted #E1E1E1;
                a{
                    i{
                        margin-right: 10px;
                        color: #555555;
                    }
                    font-size: 18px;
                    color: #555555;
                    &:hover{
                        color: #17a349;
                    }
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}


.e-invoice-page{
    float: left;
    width: 100%;
    height: 100%;
    background-color: #edecf2;
    .body-main {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 30px 0;
        .e-invoice-form-block {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background-color: #ffffff;
            -webkit-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
            max-width: 620px;
            margin: auto;
            width: 90%;
            padding: 50px 80px 80px;
            @media (max-width: 767px){
                padding: 40px 15px 50px;
            }
            .form-title {
                font-weight: 300;
                font-size: 24px;
                margin: 56px 0 40px;
                line-height: 32px;
                position: relative;
                &:before {
                    content: '';
                    width: 32px;
                    height: 4px;
                    background-color: #ff274b;
                    position: absolute;
                    top: -15px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            .form-group {
                margin-bottom: 20px;
                label{
                    font-weight: 400;
                    line-height: 20px;
                    color: #000;
                }
                .form-control {
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    background-color: #ffffff;
                    border: solid 1px #e1e1e1;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    height: 48px;
                    padding-left: 17px;
                    padding-right: 17px;
                    font-size: 13px;
                }
                .btSearchInvoice{
                    font-size: 16px;
                    line-height: 28px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: #fff;
                    background-color: #17a349;
                    border-color: #17a349;
                    width: 100%;
                    border: none;
                    &:hover{
                        color: #fff;
                        background-color: #0f6d31;
                        border-color: #0f6d31;
                    }
                }
            }
        }
    }
}


.alert-danger {
    background-color: #f8eaeb;
    color: #e51b13;
}