.page-store{
    .section-intro{
        padding: 20px 20px 0px 20px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 1px 6px #e2d3d3;
        float: left;
        width: 100%;
        @media(max-width:992px){
            padding: 12px 12px 0px 12px;
        }
        .left-intro{
            max-width:250px;
            float: left;
            padding-right: 15px;
            font-size: 13px;
            @media(max-width:1200px){
                max-width: 100%;
                padding-right: 0px;
            }
            .star{
                float: left;
                width: 100%;
                margin-bottom: 15px;
                span{
                    color: #b3b3b3;
                }
            }
            p{
                i{
                    margin-right: 5px;
                }
            }
            a{
                color: #ff0000;
                font-weight:600;
            }
            .member-active{
                margin-top: 10px;
                padding-top: 20px;
                border-top: 1px solid #dedede;
                float: left;
                width: 100%;
                b{
                    float: left;
                    width: 100%;
                    color: #17a349;
                    font-size: 15px;
                    i{
                        margin-right: 5px;
                    }
                    &.none-active{
                        color:#ff0000;
                    }
                }
            }
            .btn-member-active{
                float: left;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                a{
                    color: #fff;
                    height: 33px;
                    float: left;
                    width: Calc(33.3333% - 8px);
                    background: #17a349;
                    text-align: center;
                    line-height: 33px;
                    border-radius: 4px;
                    margin: 0px 4px;
                    i{
                        font-size: 16px;
                    }
                    &.phone-store{
                        background: #17a349;
                    }
                    &.comment-store{
                        background: #8ac944;
                    }
                    &.addfriend-store{
                        background: #ebebeb;
                    }
                }
            }
        }
        .right-intro{
            width: Calc(100% - 250px);
            float: right;
            @media(max-width:1200px){
                width: Calc(100%);
            }
            .bottom-right-intro{
                float: left;
                width: 100%;
                    border-top: 1px solid #ebebeb;
                .menu-store{
                    float: left;
                    @media(max-width:992px){
                        width: 100%;
                        margin-top: 12px;
                        border-top: 1px solid #ebebeb;
                    }
                    ul{
                        margin-bottom: 0px;
                        li{
                            display: inline-block;
                            position: relative;
                            @media(max-width:992px){
                                width: 32%;
                            }
                            &.active{
                                &:after{
                                    content:"";
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 2px;
                                    background: #17a349;
                                }
                                a{
                                    color: #17a349; 
                                    background: #ebebeb69;
                                }
                            }
                            a{
                                color: #4f4f4f;
                                font-weight: 600;
                                text-transform: uppercase;
                                float: left;
                                padding: 15px 40px 10px 40px;
                                text-align: center;
                                @media(max-width:767px){
                                    padding: 15px 0px 10px 0px;
                                    float: left;
                                    width: 100%;
                                    text-align: center;
                                    
                                }
                            }
                        }
                    }
                }
                .search-in-store{
                    float: right;
                    border: 1px solid #ebebeb;
                    margin-top: 10px;
                    border-radius: 4px;
                    margin-right: 15px;
                    @media(max-width:480px){
                        margin-right: 0px;
                    }
                    input[type="text"]{
                        border:none;
                        height: 33px;
                        padding: 0px 15px;
                        font-size: 13px;
                        border-radius:4px;
                        width: 220px;
                        @media(max-width:767px){
                            width: 190px;
                        }
                    }
                    button{
                        background: #17a349;
                        color: #fff;
                        float: right;
                        border: none;
                        height: 33px;
                        width: 40px;
                        border-bottom-right-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                }
                .filter-az-store{
                    float: right;
                    width: 155px;
                    margin-top: 10px;
                    select, .nice-select{
                        width: 100%;
                        background: #ebebeb;
                        border: none;
                        height: 33px;
                        line-height: 34px;
                        padding: 0px 15px;
                        border-radius: 4px;
                        option{
                            background: #fff;
                        }
                    }
                    .nice-select{
                        .list{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.banner-store{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    @media(max-width:1200px){
        &:after{
            content:"";
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            background: #00000059;
        }
    }
    img{
        float: left;
        width: 100%;
    }
}

.img-store{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    @media(max-width:1200px){
        margin-top: -78px;
    }
    .img{
        float: left;
        margin-right: 15px;
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius:4px;
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
            min-width: 100%;
        }
        @media(max-width:1200px){
            border: 2px solid #fff;
            margin-left: 35px;
        }
        @media(max-width:767px){
            margin-left: 15px;
        }
    }
    h2{
        color: #4a4a4a;
        font-size: 15px;
        font-weight: 600;
        margin: 10px 0px 5px 0px;
        @media(max-width:1200px){
            color: #fff;
        }
    }
    span{    
        color: #04a400;
        font-size: 13px;
        @media(max-width:1200px){
            color: #fff;
        }
    }
}

// content-intro-store
.content-intro-store{
    float: left;
    width: 100%;
    padding: 15px 30px;
    background: #fff;
    text-align: justify;
    box-shadow: 0px 0px 3px #ccc;
    margin-bottom: 30px;
    h2{
        text-align: center;
        margin: 10px 0px 20px 0px;
        font-size: 20px;
        color: #17a349;
    }
}

