.date_time {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.date_time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.date_time span i {
  color: #FEB650;
  font-size: 14px;
  margin-right: 7px;
}

.site51_prodel_col12_chitietsanpham {
  padding-top: 30px;
  padding-bottom: 50px;
}
.site51_prodel_col12_chitietsanpham .detail_button {
  width: 336px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #289300;
  border-radius: 50px;
}
.site51_prodel_col12_chitietsanpham .detail_button img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 15px;
}
.site51_prodel_col12_chitietsanpham .detail_button span {
  color: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .btn-animation::after {
  border-radius: 100px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left {
  width: 500px;
  margin-right: 49px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on {
  border: 3px solid #289300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on::before {
  position: absolute;
  content: url(../images/env_detail.png);
  left: auto;
  top: -7px;
  bottom: auto;
  right: -2px;
  z-index: 10;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on::after {
  position: absolute;
  content: url(../images/env_detail.png);
  left: -2px;
  top: auto;
  bottom: -7px;
  right: auto;
  z-index: 10;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on .img_detail {
  width: 494px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on .img_detail .play-video {
  position: absolute;
  background: #289300;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: pointer;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on .img_detail .play-video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  -webkit-animation: animationPlay infinite 1s linear;
          animation: animationPlay infinite 1s linear;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on .img_detail .play-video .fas {
  color: #FFFFFF;
  margin-left: 2px;
}
@-webkit-keyframes animationPlay {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes animationPlay {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_on .img_detail img {
  max-width: 100%;
  max-height: 100%;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_in {
  margin: 0 -8px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_in .slick-list {
  padding: 0 !important;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_in .img_detail_1 {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 0 8px;
  position: relative;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_in .img_detail_1 .play-video {
  position: absolute;
  background: #289300;
  height: 20.5px;
  width: 20.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: pointer;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_in .img_detail_1 .play-video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  -webkit-animation: animationPlay infinite 1s linear;
          animation: animationPlay infinite 1s linear;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_in .img_detail_1 .play-video .fas {
  font-size: 7px;
  color: #FFFFFF;
  margin-left: 2px;
}
@keyframes animationPlay {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left .left_env .slide_detail_in .img_detail_1 img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right {
  width: calc(100% - (500px + 49px));
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content {
  width: 100%;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .title {
  color: #414141;
  padding-bottom: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .item-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .item-options .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  position: relative;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .item-options .star::before {
  position: absolute;
  content: "";
  background: #828282;
  width: 1px;
  height: 11px;
  top: 4px;
  right: -20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .item-options .star .icon {
  margin-right: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .item-options .star .icon .fa {
  font-size: 14px;
  color: #FEB650;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .item-options .star span {
  color: #828282;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .content .item-options .description .bi {
  color: #289300;
  margin-right: 10px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  font-weight: bold;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-price-sale {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#38C205), color-stop(68.17%, #0054B9));
  background: linear-gradient(90deg, #38C205 0%, #0054B9 68.17%);
  border-radius: 5px;
  height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-price-sale .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 25px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-price-sale .price h4 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 140.19%;
  color: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-price-sale .price .sale {
  margin-left: 50px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-price-sale .price .sale span {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  line-height: 140.19%;
  color: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-price-sale .price .sale span:first-child {
  opacity: 0.6;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-right: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #4F4F4F;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right p span {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-list-opis {
  padding-left: 20px;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-list-opis li {
  list-style: url("../images/style.png");
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: #4F4F4F;
  margin-bottom: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-list-opis li:last-child {
  margin-bottom: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-list-opis li a {
  color: #289300;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color h5 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 150.19%;
  color: #4F4F4F;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label {
  margin-right: 35px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label:last-child {
  margin: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label input {
  display: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label input[type=radio]:checked + span {
  color: #298CCF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label input[type=radio]:checked + .color::after {
  display: block;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label input[type=radio]:checked + .color::before {
  display: block;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label .color {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label .color::after {
  display: none;
  position: absolute;
  content: "";
  top: 10px;
  left: 15px;
  width: 6px;
  height: 12px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label .color::before {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #4A4A4A;
  opacity: 0.6;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label:nth-child(1) .color {
  background: #FF9900;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label:nth-child(2) .color {
  background: #289300;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label:nth-child(3) .color {
  background: #006EF2;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label span {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #4F4F4F;
  text-align: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #F0F0F0;
  padding: 15px 0;
  margin-bottom: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size h5 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 150.19%;
  color: #4F4F4F;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro label {
  margin-right: 16px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro label:hover .size {
  background: #298CCF;
  border: 1px solid #298CCF;
  color: #FFFFFF;
  font-weight: bold;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro label:last-child {
  margin: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro label input {
  display: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro label input[type=radio]:checked + .size {
  background: #298CCF;
  border: 1px solid #298CCF;
  color: #FFFFFF;
  font-weight: bold;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro label .size {
  width: 52px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #4F4F4F;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity h4 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  color: #5A5A5A;
  margin-right: 35px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity .custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  height: 40px;
  padding: 0 8px;
  border: 1px solid #EBEBEB;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity .custom .input {
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity .custom input[type=text] {
  width: 40px;
  height: 100%;
  margin: 0;
  min-height: unset;
  display: block;
  outline: 0;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 210%;
  color: #000000;
  text-align: center;
  border: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity .custom button {
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .item-buy {
  margin-bottom: 25px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .item-buy a {
  position: relative;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 405px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#FFB82F), to(#FF2E00));
  background: linear-gradient(90deg, #FFB82F 0%, #FF2E00 100%);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .item-buy a img {
  margin-right: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .item-buy a.butt::after {
  border-radius: 5px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_similar {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 27px;
  margin-bottom: 30px;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
  border-bottom: 1px solid #F0F0F0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left {
  width: calc(100% - (197px + 40px));
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .nav_list {
  width: 33.333%;
  height: 50px;
  background: #FAFAFA;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .nav_list:hover {
  color: #FFFFFF;
  background: #289300;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .nav_list.active {
  color: #FFFFFF;
  background: #289300;
  position: relative;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .nav_list.active::before {
  position: absolute;
  content: "";
  bottom: -33px;
  right: 48%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 20px solid #289300;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description {
  width: 100%;
  max-height: 2600px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description.active {
  max-height: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description p {
  margin-bottom: 22px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description p.center {
  text-align: center;
  margin-bottom: 25px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description h4 {
  color: #4F4F4F;
  margin-bottom: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description img {
  margin-bottom: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position_view {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-bottom: 21px;
  bottom: 0;
  cursor: pointer;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position_view.active {
  display: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position_view a {
  background: #289300;
  border-radius: 50px;
  width: 137px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position_view a i {
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position {
  background: url(./../images/bg_detail.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -2px;
  top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-bottom: 21px;
  height: 287px;
  cursor: pointer;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position.active {
  display: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position a {
  background: #289300;
  border-radius: 50px;
  width: 137px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description .button_position a i {
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 {
  margin-top: 30px;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1.active {
  max-height: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table {
  width: 100%;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr {
  width: 100%;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(2) td:first-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(4) td:first-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(6) td:first-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(8) td:first-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(10) td:first-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(12) td:first-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(14) td:first-child {
  background: #FAFAFA;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(2) td:last-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(4) td:last-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(6) td:last-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(8) td:last-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(10) td:last-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(12) td:last-child, .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr:nth-child(14) td:last-child {
  background: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr td {
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr td:first-child {
  width: 25%;
  height: 100%;
  background: #F0F0F0;
  padding-left: 21px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr td:last-child {
  width: 75%;
  height: 100%;
  background: #FAFAFA;
  padding-left: 31px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr td h4 {
  font-weight: bold;
  color: #4F4F4F;
  margin-bottom: 10px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr td ul {
  margin-bottom: 20px;
  list-style: disc;
  padding-left: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .pro_description_1 .pro_package .pro_flex table tr td ul li {
  color: #4F4F4F;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .item-buy {
  background: url(./../images/bg_detail.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -2px;
  top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-bottom: 21px;
  height: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .item-buy a {
  position: relative;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 405px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#FFB82F), to(#FF2E00));
  background: linear-gradient(90deg, #FFB82F 0%, #FF2E00 100%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .item-buy a img {
  margin-right: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .item-buy a.butt::after {
  border-radius: 5px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_right {
  width: 197px;
  margin-left: 40px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_right .pro_package .pro_flex .pro_card {
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_right .pro_package .pro_flex .pro_card:hover {
  border: 1px solid #289300;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_right .pro_package .pro_flex .pro_card a .card_img {
  height: 196px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_right .pro_package .pro_flex .pro_card a .card_text {
  padding: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 {
  margin-top: 30px;
  max-height: 1400px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2.active {
  max-height: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .button_position {
  background: url(./../images/bg_detail.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -2px;
  top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-bottom: 21px;
  height: 287px;
  cursor: pointer;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .button_position.active {
  display: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .button_position a {
  background: #289300;
  border-radius: 50px;
  width: 210px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .button_position a i {
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-top-sdps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 38px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 40px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso {
  width: 265px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan h4 {
  color: #289300;
  margin-right: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan .star {
  margin-bottom: 5px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan .star .fa {
  font-size: 14px;
  color: #FEB650;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan .star .fa:last-child {
  color: #E0E0E0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan p {
  color: #4F4F4F;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .chitiet .phantram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .chitiet .phantram span {
  color: #4F4F4F;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .chitiet .phantram span:nth-child(1) {
  margin-right: 5px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .chitiet .phantram .fa {
  font-size: 12px;
  color: #006EF2;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .chitiet .phantram .w3-border {
  position: relative;
  width: 191px;
  height: 7.86px;
  background: #b3d4fb;
  border-radius: 32px;
  margin: 0 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .chitiet .phantram .w3-border .w3-oran {
  background: #006EF2;
  border-radius: 32px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images {
  width: 883px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images p {
  color: #4F4F4F;
  margin-bottom: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .item-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  overflow-y: auto;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .item-images::-webkit-scrollbar {
  visibility: hidden;
  opacity: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .item-images .image {
  min-width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 23px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .item-images .image img {
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .content_viewall {
  display: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .content_viewall span {
  color: #289300;
  margin-right: 10px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .content_viewall .far {
  color: #289300;
  font-size: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt p {
  color: #4F4F4F;
  margin-bottom: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button {
  color: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  background: #F5F5FA;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button .fa {
  font-size: 13px;
  color: #dadada;
  margin-left: 7px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:hover {
  background: #298CCF;
  color: #FFFFFF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:hover .fa {
  color: #FEB650;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:last-child {
  margin-right: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(1), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(2), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(3) {
  padding: 8px 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(4), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(5), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(6), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(7), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(8) {
  padding: 8px 10px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .avt-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .avt-main .image-avt {
  width: 77px;
  height: 77px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .avt-main .image-avt img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .avt-main .textch h5 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 184.82%;
  color: #4F4F4F;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .avt-main .textch p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #4F4F4F;
  margin: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat {
  width: 882px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .danhgiakh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .danhgiakh .star-item {
  margin-right: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .danhgiakh .star-item .fa {
  font-size: 13px;
  color: #FEB650;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .danhgiakh p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #4F4F4F;
  margin: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .check-muahang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: #29CE44;
  margin-bottom: 19px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .check-muahang img {
  margin-right: 7px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat p {
  color: #4F4F4F;
  margin-bottom: 15px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat p a {
  font-family: Helvetica Neue;
  color: #298CCF;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .rep-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .rep-like .rep {
  margin-right: 30px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .rep-like .rep input[type=text] {
  width: 70px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
  outline: 0;
  padding: 2px 0;
  padding-left: 25px;
  background-image: url("../../asset/images/rep.png");
  background-repeat: no-repeat;
  border: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .rep-like .rep input[type=text]:focus {
  width: 250px;
  font-size: 13px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .rep-like button {
  font-family: "SVN-Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
  background: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .rep-like button img {
  margin-right: 10px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item .avt-phanhoi {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item .avt-phanhoi img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item .comment-phanhoi {
  width: 92%;
  background: #F6F6F6;
  border-radius: 5px;
  padding: 13px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item .comment-phanhoi .name-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item .comment-phanhoi .name-date h5 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #4F4F4F;
  margin-right: 20px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item .comment-phanhoi .name-date p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #BDBDBD;
  margin: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat .phanhoi-item .comment-phanhoi p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  color: #4F4F4F;
  margin: 0;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_slide {
  padding-top: 30px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_slide .slide_pro_active {
  margin: 0 -8px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_slide .slide_pro_active .slick-next {
  right: 10px;
  top: -33px;
  background: url(./../images/bg_slide.png);
  width: 32px;
  height: 21px;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_slide .slide_pro_active .slick-next::before {
  content: url(./../images/arrow_slide.png);
  opacity: 1;
  line-height: inherit;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_slide .slide_pro_active .slick-prev {
  right: 42px;
  top: -43px;
  background: url(./../images/bg_slide.png);
  width: 32px;
  height: 21px;
  left: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_slide .slide_pro_active .slick-prev::before {
  content: url(./../images/arrow_slide.png);
  opacity: 1;
  line-height: inherit;
}
.site51_prodel_col12_chitietsanpham .container_fix .pro_slide .slide_pro_active .slick-slide {
  margin: 0 9px;
}

.pro_flex .pro_card {
  margin: 0 7px;
}
.pro_flex .pro_card .card_img img {
  width: 100%;
}

.pagination {
  width: 100%;
}

@media (max-width: 1200px) {
  .pro_flex .pro_card {
    max-width: 230px;
  }
}
@media (max-width: 1199px) {
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-top-sdps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images {
    width: 630px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .all_image, .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .item-images {
    display: none;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .avt-main {
    margin-bottom: 20px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat {
    padding-left: 100px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left {
    width: 100%;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_right {
    width: 100%;
    margin-left: 0;
  }

  .pro_flex .pro_card {
    margin: 0 7px;
  }
  .pro_flex .pro_card .card_text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pro_flex .pro_card .card_img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 991px) {
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left {
    margin: auto;
    margin-bottom: 35px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right {
    width: 100%;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left {
    width: 100%;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_right {
    width: 100%;
    margin-left: 0;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images {
    width: 400px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button {
    margin-right: 15px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(1), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(2), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(3) {
    padding: 5px 10px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(4), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(5), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(6), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(7), .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt .button-loc button:nth-child(8) {
    padding: 5px 7px;
  }
}
@media (max-width: 768px) {
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-top-sdps {
    padding-bottom: 20px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso {
    width: auto;
    margin-right: 15px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan .star .fa {
    font-size: 10px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .chitiet {
    display: none;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images {
    width: auto;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .list-item-images .content_viewall {
    display: block;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-loccomt {
    display: none;
  }
}
@media (max-width: 600px) {
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .item-comment .item-chat {
    padding-left: 30px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .nav_list {
    font-size: 14px;
  }

  .pro_flex .pro_card {
    max-width: 230px;
  }
}
@media only screen and (max-width: 500px) {
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .continue {
    display: block;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .back {
    display: block;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .nav_list {
    width: 60%;
    margin: auto;
    display: none;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_main .pro_flex_left .nav_menu .active {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_description_2 .tongthongso .tongquan .star .fa {
    font-size: 7px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label .color {
    width: 28px;
    height: 28px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-color .color-pro label .color::after {
    top: 7px;
    left: 12px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-Size .Size-pro label .size {
    width: 40px;
    height: 30px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity .custom {
    width: 100px;
    height: 30px;
    padding: 0 5px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity .custom input[type=text] {
    width: 33px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .quantity .custom button {
    font-size: 18px;
  }
}
@media (max-width: 460px) {
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_left {
    width: 260px;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .item-buy {
    width: 100%;
  }
  .site51_prodel_col12_chitietsanpham .container_fix .pro_detail .detail_right .item-justify .item-buy a {
    width: 100%;
  }
}