.site51_head_col12_meter {
  max-width: 100%;
  background: #FFFFFF;
  height: 90px;
  padding-top: 18px;
}
.site51_head_col12_meter a {
  text-decoration: none !important;
}
.site51_head_col12_meter .container_fix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site51_head_col12_meter .container_fix .logo {
  width: 150px;
}
.site51_head_col12_meter .container_fix .main-menu {
  max-width: 982px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site51_head_col12_meter .container_fix .menu {
  max-width: 687px;
  width: 100%;
  margin-right: 25px;
}
.site51_head_col12_meter .container_fix .menu .menu_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site51_head_col12_meter .container_fix .menu .menu_list .logo_list {
  display: none;
}
.site51_head_col12_meter .container_fix .menu .menu_list .list a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150.19%;
  text-transform: uppercase;
  color: #4F4F4F;
}
.site51_head_col12_meter .container_fix .menu .menu_list .list:hover a {
  color: #289300;
}
.site51_head_col12_meter .container_fix .menu .menu_list .account {
  display: none;
}
.site51_head_col12_meter .container_fix .menu .menu_list .app {
  display: none;
}
.site51_head_col12_meter .container_fix .search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 27px;
  position: relative;
}
.site51_head_col12_meter .container_fix .search .toggle_search {
  position: absolute;
  top: 50px;
  bottom: auto;
  display: none;
  z-index: 12;
}
.site51_head_col12_meter .container_fix .search .toggle_search form {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background-color: #289300;
  padding: 4px;
}
.site51_head_col12_meter .container_fix .search .toggle_search form input {
  width: 85%;
  outline: 0;
  border: none;
  padding-left: 5px;
}
.site51_head_col12_meter .container_fix .search .toggle_search form button {
  width: 15%;
  outline: 0;
  border: none;
}
.site51_head_col12_meter .container_fix .search .toggle_search.active {
  display: block;
}
.site51_head_col12_meter .container_fix .link_app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.site51_head_col12_meter .container_fix .link_app a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 125px;
  height: 45px;
  background: #289300;
  border: 1px solid #289300;
  box-sizing: border-box;
  border-radius: 35px;
}
.site51_head_col12_meter .container_fix .link_app:hover a {
  border: 1px solid #289300;
  color: #289300;
  background: #FFFFFF;
  transition: 0.6s all;
}
.site51_head_col12_meter .container_fix .login_singin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site51_head_col12_meter .container_fix .login_singin a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #289300;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 0 15px;
  color: #289300;
}
@media (max-width: 1200px) {
  .site51_head_col12_meter {
    height: 80px;
    padding-top: 15px;
  }
  .site51_head_col12_meter .container_fix {
    justify-content: space-between;
  }
  .site51_head_col12_meter .container_fix .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .site51_head_col12_meter .container_fix .menu {
    display: none;
    position: fixed;
    left: 0%;
    top: 0;
    right: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    z-index: 15;
  }
  .site51_head_col12_meter .container_fix .menu.active {
    display: block;
  }
  .site51_head_col12_meter .container_fix .menu.active .logo_list {
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #4F4F4F;
  }
  .site51_head_col12_meter .container_fix .menu.active .account {
    display: none;
  }
  .site51_head_col12_meter .container_fix .menu.active .menu_list {
    flex-direction: column;
    justify-content: initial;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 15px 15px 0 15px;
  }
  .site51_head_col12_meter .container_fix .menu.active .menu_list .list {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #4F4F4F;
  }
  .site51_head_col12_meter .container_fix .menu.active .menu_list .list a {
    font-size: 14px;
  }
  .site51_head_col12_meter .container_fix .menu.active .menu_list .list:hover {
    border-bottom: 1px solid #289300;
  }
  .site51_head_col12_meter .container_fix .search {
    margin-right: 20px;
  }
  .site51_head_col12_meter .container_fix .link_app {
    margin-right: 17px;
  }
  .site51_head_col12_meter .container_fix .link_app a {
    font-size: 15px;
    width: 110px;
    height: 40px;
  }
  .site51_head_col12_meter .container_fix .login_singin a {
    width: 110px;
    height: 40px;
    padding: 0 9px;
  }
}
@media (max-width: 768px) {
  .site51_head_col12_meter {
    height: 70px;
    padding-top: 15px;
  }
}
@media (max-width: 576px) {
  .site51_head_col12_meter .container_fix .link_app {
    display: none;
  }
  .site51_head_col12_meter .container_fix .login_singin {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
