body {
    background: #FFF !important;
}

.container_fix {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container_fix {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container_fix {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container_fix {
        max-width: 1251px;
    }
}

@media (max-width:1270px) {
    .container_fix {
        padding: 0 15px;
    }
}

.icon_menu {
    display: none;
    width: 26px;
    cursor: pointer;
    z-index: 15;
    position: absolute;
    top: 18px;
    right: 15px;
}

.icon_menu span {
    margin-bottom: 6px;
    display: block;
    width: 100%;
    height: 3px;
    background: #000000;
    z-index: 15;
}

.icon_menu span:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 0;
    background: #FFFFFF;
    margin-top: -18px;
    margin-left: 5px;
    width: 120%;
    height: 2.5px;
}

.icon_menu.active {
    margin-top: 9px;
}

.icon_menu.active span {
    margin-bottom: 0;
    background: #ffffff;
}

.icon_menu.active span:nth-child(1) {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-bottom: -3px;
}

.icon_menu.active span:nth-child(2) {
    display: none;
}

.icon_menu.active span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    margin-top: -1px;
}

.icon_menu.active span:nth-child(4) {
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons div {
    margin: 0px 10px;
    cursor: pointer;
}

.buttons div>* {
    pointer-events: none;
}

.buttons .grid {
    opacity: 0.3;
}

.buttons .list {
    opacity: 0.3;
}

.buttons .active {
    opacity: 1;
}

#wrapper.grid {
    display: grid;
    justify-content: normal;
}

#wrapper.grid .pro_card {
    width: 100%;
    margin-bottom: 25px;
}

#wrapper.grid .pro_card a {
    display: flex;
}

#wrapper.grid .pro_card a .card_img {
    min-width: 237px;
}

#wrapper.grid .pro_card a .card_text {
    width: 100%;
    display: grid;
}

#wrapper.grid .pro_card a .card_text .title {
    margin-bottom: 100px;
}

#wrapper.grid .pro_card a .card_text .title p {
    margin-top: 20px;
}


@media (max-width:1200px) {
    .icon_menu {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.pro_package {}

.pro_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.pro_content .content_text {}

.pro_content .pro_select_env {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro_content .pro_select {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
    width: 168px;
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.pro_content .pro_select span {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 210%;
    color: #8C8C8C;
}

.pro_content .pro_select select {
    outline: none;
    border: none;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    color: #747474;
}

.pro_content .content_text h3 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    padding-left: 33px;
}

.pro_content .content_text h3::before {
    content: url('../images/line_product.png');
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 21px;
}

.pro_content .content_text h3::after {
    content: url('../images/line_product.png');
    position: absolute;
    left: 10px;
    top: 0;
    width: 15px;
    height: 21px;
}

.pro_content .content_viewall {
    display: flex;
    justify-content: space-between;
    color: #006EF2;
    align-items: center;
    text-decoration: none;
}

.pro_content .content_viewall:hover {
    color: #289300;
}

.pro_content .content_viewall:hover span {
    color: #289300;
}

.pro_content .content_viewall:hover i {
    color: #289300;
}

.pro_content .content_viewall span {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150.5%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #006EF2;
    margin-right: 7px;
}

.pro_content .content_viewall i {
    font-size: 12px;
}

.pro_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pro_flex .pro_card {
    width: 237px;
    position: relative;
    background: #FFFFFF;
    border-radius: 5.53252px;
    /*huy*/
    border: 1px solid #ffffff00;
    box-sizing: border-box;
    margin-bottom: 15px;     
   overflow: hidden;
}

.pro_flex .pro_card:hover {
    border: 1px solid #289300;
}

.pro_flex .pro_card a {
    text-decoration: none;
}

.pro_flex .pro_card .card_img {
    height: 237px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.pro_flex .pro_card .card_img img{
   max-height: 100%;
   width: 100%;
   height: 100%;
   max-width: none;
}

.pro_flex .pro_card .card_img img:hover {
    transform: scale(1.2);
    transition: 0.7s all;
}

.pro_flex .pro_card .card_text {
    padding: 15px 17px 18px 17px;
}

.pro_flex .pro_card .card_text .title {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150.8%;
    color: #414141;
    margin-bottom: 17.7px;
}

.pro_flex .pro_card .card_text .title p {
    font-style: italic;
}

.pro_flex .pro_card .card_text .title:hover {
    color: #289300;
}

.pro_flex .pro_card .card_text .adress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.pro_flex .pro_card .card_text .adress span {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.pro_flex .pro_card .card_text .adress span:nth-child(1) {
    color: #289300;
}

.pro_flex .pro_card .card_text .adress span:nth-child(1):hover {
    color: #414141;
}

.pro_flex .pro_card .card_text .adress span:nth-child(2) {
    color: #828282;
}

.pro_flex .pro_card .card_text .adress span:nth-child(2) i {
    color: #FEB650;
    margin-right: 3px;
}

.pro_flex .pro_card .card_text .adress span:nth-child(2):hover {
    color: #289300;
}

.date_time {
    display: flex;
    align-items: center;
}

.date_time img {
    width: fit-content;
    height: fit-content;
    margin-right: 8px;
}

.date_time span {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.pro_flex .pro_card .heart {
    position: absolute;
    top: 12px;
    left: 20px;
    bottom: auto;
    right: auto;
}

.pro_flex .pro_card .heart .check:hover .iuthik1 {
    display: none;
}

.pro_flex .pro_card .heart .check:hover .iuthik2 {
    display: block;
}

.pro_flex .pro_card .heart .check .iuthik2 i {
    color: #289300;
    font-size: 21px;
}

.pro_flex .pro_card .heart .check .iuthik2 {
    display: none;
}

.pro_flex .pro_card .heart input {
    display: none;
}

.pro_flex .pro_card .heart .check .iuthik2 {
    display: none;
}

.pro_flex .pro_card .heart input[type=checkbox]:checked+.check>.iuthik2 {
    display: block;
}

.pro_flex .pro_card .heart input[type=checkbox]:checked+.check>.iuthik1 {
    display: none;
}

.pro_flex .pro_card .hot_product {
    position: absolute;
    right: -2px;
    top: 0%;
    bottom: auto;
    left: auto;
}

.pro_flex .pro_card .card_text .pro_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 11px;
}

.pro_flex .pro_card .card_text .pro_price span {
    font-family: Helvetica Neue;
    font-style: normal;
}

.pro_flex .pro_card .card_text .pro_price span:nth-child(1) {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #289300;
}

.pro_flex .pro_card .card_text .pro_price span:nth-child(2) {
    font-weight: normal;
    font-size: 16.0147px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #BDBDBD;
}

.pro_flex .pro_card .card_text .pro_exchange {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pro_flex .pro_card .card_text .pro_exchange span {}

.pro_flex .pro_card .card_text .pro_exchange span:nth-child(1) {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16.0147px;
    line-height: 19px;
    color: #828282;
}

.pro_flex .pro_card .card_text .pro_exchange span:nth-child(1) i {
    color: #FEB650;
    margin-right: 10px;
}

.pro_flex .pro_card .card_text .pro_exchange span:nth-child(2) {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16.0147px;
    line-height: 19px;
    color: #828282;
}

@media (max-width:1200px) {
    .pro_flex .pro_card {
        width: 23%;
    }
}

@media (max-width:1000px) {
    .pro_content .content_text h3 {
        font-size: 22px;
        line-height: 27px;
        padding-left: 28px;
    }
    .pro_content .content_text h3::after {
        top: 2px;
        height: 20px;
        overflow: hidden;
    }
    .pro_content .content_text h3::before {
        top: 2px;
        height: 20px;
        overflow: hidden;
    }
    .pro_content .content_viewall span {
        font-size: 15px;
    }
    .pro_flex .pro_card .card_img {
        height: auto;
    }
    .pro_flex .pro_card .card_img img {
        max-width: 100%;
    }
    #wrapper.grid .pro_card a .card_img {
        min-width: 201px;
        height: 201px;
    }
}

@media (max-width: 991px) {
    .buttons {
        flex-wrap: wrap;
    }
}

@media (max-width:576px) {
    .pro_content .content_text h3 {
        font-size: 18px;
        line-height: 27px;
        padding-left: 28px;
    }
    .pro_content .content_text h3::after {
        top: 4px;
        height: 18px;
        overflow: hidden;
    }
    .pro_content .content_text h3::before {
        top: 4px;
        height: 18px;
        overflow: hidden;
    }
    .pro_content .content_viewall span {
        font-size: 14px;
    }
    .pro_flex .pro_card {
        width: 49%;
    }
    .pro_flex .pro_card .card_img {
        height: auto;
    }
    .pro_flex .pro_card .card_text {
        padding: 10px 10px 10px 14px;
    }
    .pro_flex .pro_card .card_text .title {
        font-size: 15px;
        margin-bottom: 12px;
    }
    .pro_flex .pro_card .card_text .adress {
        margin-bottom: 10px;
    }
    .pro_flex .pro_card .card_text .adress span {
        font-size: 14px;
        line-height: 14px;
    }
    #wrapper.grid .pro_card a .card_img {
        min-width: 150px;
        height: 150px;
    }
    #wrapper.grid .pro_card a .card_text .title {
        margin-bottom: 35px;
    }
    .date_time span {
        font-size: 14px;
    }
}

@media (max-width:460px) {
    .pro_content .content_text h3 {
        font-size: 16px;
        line-height: 18px;
    }
    .pro_content .content_text h3::after {
        top: 0;
        height: 17px;
        overflow: hidden;
    }

    .pro_content .content_text h3::before {
        top: 0;
        height: 17px;
        overflow: hidden;
    }
}