
@font-face {
  font-family: "Helvetica Neue light";
  src: url("../css/font/helvetica-neue-light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue bold";
  src: url("../css/font/helvetica-neue-bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../css/font/helvetica-neue-regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../css/font/SVN-Poppins-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "MTD Geraldyne";
  src: url("../css/font/MTD Geraldyne.otf");
  font-display: swap;
}
body {
  font-family: "Helvetica Neue";
  color: #4f4f4f;
}

h2.title_30 {
  position: relative;
  margin-left: 28px;
}
h2.title_30::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -28px;
  background: url(../images/icon-title.png);
  width: 23px;
  height: 21px;
}

.title_60 {
  font-family: "Helvetica Neue bold";
  font-weight: bold;
  font-size: 60px;
  line-height: 130.19%;
  color: #289300;
}
.title_48 {
  font-family: "Helvetica Neue bold";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}
.title_36 {
  font-family: "Helvetica Neue bold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140.19%;
}
.title_30 {
  font-family: "Helvetica Neue bold";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #333333;
}
.title_26 {
  font-family: "Helvetica Neue bold";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 150.19%;
}
.title_28 {
  font-family: "Helvetica Neue bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 150.8%;
}
.title_24 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 138.3%;
}
.title_21 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: justify;
}
.title_20 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150.63%;
}
.title_18 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.content_40 {
  font-family: "MTD Geraldyne";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 104.52%;
  text-align: center;
  color: #4f4f4f;
}
.content_16 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.content_16_b {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150.63%;
}
.content_14 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150.19%;
}

@media (max-width: 1200px) {
  .title_60 {
    font-size: 40px;
  }
  .title_36 {
    font-size: 30px;
  }
  .title_30 {
    font-size: 25px;
  }
  .title_28 {
    font-size: 24px;
  }
  .title_20 {
    font-size: 18px;
    line-height: 142.63%;
  }
  .title_26 {
    font-size: 22px;
  }
  .title_18 {
    font-size: 17px;
  }

  .content_16 {
    font-size: 14px;
    line-height: 140%;
  }
  .content_16_b {
    font-size: 14px;
  }
  .content_14 {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .title_36 {
    font-size: 26px;
  }
  .title_26 {
    font-size: 20px;
  }
  .title_18 {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .title_60 {
    font-size: 36px;
  }
  .title_36 {
    font-size: 22px;
  }
  .title_28 {
    font-size: 18px;
  }
  .title_26 {
    font-size: 16px;
  }
  .title_18 {
    font-size: 15px;
  }
}
.btn-animation {
  text-align: center;
  position: relative;
  border: none;
  z-index: 1;
  transition: all 0.3s ease;
  color: #fff;
}
.btn-animation::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-animation:hover {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.btn-animation:hover:after {
  left: 0;
  width: 100%;
}
.btn-animation:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.btn-animation1 {
  transition: all 0.6s;
}
.btn-animation1:hover {
  background: #fff;
  border: 1px solid #289300;
  color: #289300;
  transition: all 0.6s;
}
.btn-animation1:hover i {
  color: #289300;
}

.btn-animation2 {
  text-align: center;
  position: relative;
  border: none;
  z-index: 1;
  transition: all 0.3s ease;
  color: #fff;
}
.btn-animation2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: scale(0);
}
.btn-animation2:hover {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.btn-animation2:hover:after {
  transform: scale(1.02);
}
.btn-animation2:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.breadcrumb {
  background: no-repeat;
  padding: 10px 0;
}
.breadcrumb a {
  text-decoration: none;
  color: #4F4F4F;
}
.breadcrumb a:hover {
  color: #ff0000;
}
.breadcrumb .main {
  position: relative;
  padding-right: 20px;
}
.breadcrumb .main:last-child {
  color: #B0B0B0;
}
.breadcrumb .main:last-child::after {
  border: none;
}
.breadcrumb .main::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 38%;
  border-top: 1px solid #666666;
  border-right: 1px solid #666666;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  margin-left: 8px;
}

.site51_form_col10_dangnhap {
  z-index: 2;
  position: relative;
  background: linear-gradient(124.38deg, #30b418 -6.66%, #161861 72.47%);
}
.site51_form_col10_dangnhap .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}
.site51_form_col10_dangnhap .container_fix {
  padding-top: 131px;
  padding-bottom: 131px;
}
.site51_form_col10_dangnhap .main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: #fff;
  max-width: 1032px;
  margin: auto;
}
.site51_form_col10_dangnhap .main__left {
  width: 50%;
  padding: 0 40px;
}
.site51_form_col10_dangnhap .main__left .title {
  margin-top: 80px;
  margin-bottom: 15px;
}
.site51_form_col10_dangnhap .main__left .title h2 {
  color: #289300;
}
.site51_form_col10_dangnhap .main__left form {
  margin-top: 32px;
}
.site51_form_col10_dangnhap .main__left--login label {
  width: 100%;
  height: 60px;
  position: relative;
}
.site51_form_col10_dangnhap .main__left--login label i {
  position: absolute;
  top: 16%;
  left: 15px;
  color: #bdbdbd;
}
.site51_form_col10_dangnhap .main__left--login label input {
  width: 100%;
  height: 60px;
  border: 0.5px solid #289300;
  padding-left: 40px;
}
.site51_form_col10_dangnhap .main__left--login label input:focus-visible {
  outline: none;
  border-left: 5px solid #289300;
}
.site51_form_col10_dangnhap .main__left--login label input::placeholder {
  color: #bdbdbd;
}
.site51_form_col10_dangnhap .main__left--login label:first-child input {
  border-bottom: none;
}
.site51_form_col10_dangnhap .main__left--check {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
}
.site51_form_col10_dangnhap .main__left--check span {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
}
.site51_form_col10_dangnhap .main__left--check span input {
  margin-right: 10px;
}
.site51_form_col10_dangnhap .main__left--check a {
  font-style: italic;
  font-weight: normal;
  line-height: 210%;
  color: #289300;
  text-decoration: none;
}
.site51_form_col10_dangnhap .main__left--check a:hover {
  color: #0257b2;
}
.site51_form_col10_dangnhap .main__left--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.site51_form_col10_dangnhap .main__left--btn .btn-1 {
  width: 203px;
  height: 60px;
  box-sizing: border-box;
}
.site51_form_col10_dangnhap .main__left--btn button {
  color: #fff;
  background: linear-gradient(90deg, #33b90f 0%, #0257b2 67.97%);
}
.site51_form_col10_dangnhap .main__left--btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdbdbd;
  color: #4f4f4f;
}
.site51_form_col10_dangnhap .main__left--btn a:hover {
  border: none;
  color: #fff;
  background: linear-gradient(90deg, #33b90f 0%, #0257b2 67.97%);
}
.site51_form_col10_dangnhap .main__right {
  width: 50%;
}
.site51_form_col10_dangnhap .main__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .site51_form_col10_dangnhap .main__left .title {
    text-align: center;
  }
  .site51_form_col10_dangnhap .main__left--login label {
    height: 50px;
  }
  .site51_form_col10_dangnhap .main__left--login label input {
    height: 50px;
  }
  .site51_form_col10_dangnhap .main__left--btn .btn-1 {
    width: 175px;
    height: 50px;
  }
}
@media (max-width: 1000px) {
  .site51_form_col10_dangnhap .main {
    flex-direction: column;
  }
  .site51_form_col10_dangnhap .main__left {
    width: 100%;
    text-align: center;
  }
  .site51_form_col10_dangnhap .main__left--btn .btn-1 {
    width: 125px;
    height: 45px;
  }
  .site51_form_col10_dangnhap .main__right {
    margin-top: 20px;
    width: 100%;
  }
}
.main__left--register .pws_tabs_container ul.pws_tabs_controll li {
  width: 50%;
  text-align: center;
}
.main__left--register .pws_tabs_container ul.pws_tabs_controll li a {
  background-color: #fff;
  color: #bebebe;
  border-bottom: 2px solid #EBEFF2;
  transition: all 0.3s linear;
  margin-right: 0px;
}
.main__left--register .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {
  color: #219653;
  border-bottom: 2px solid #219653;
  transition: all 0.3s linear;
}
.main__left--register .nav-tab {
  padding: 20px 0;
}
.main__left--register .nav-tab label {
  width: 100%;
  height: 60px;
  position: relative;
}
.main__left--register .nav-tab label i {
  position: absolute;
  top: 16%;
  left: 15px;
  color: #bdbdbd;
}
.main__left--register .nav-tab label input {
  width: 100%;
  height: 60px;
  border: 0.5px solid #289300;
  padding-left: 40px;
}
.main__left--register .nav-tab label input:focus-visible {
  outline: none;
  border-left: 5px solid #289300;
}
.main__left--register .nav-tab label input::placeholder {
  color: #bdbdbd;
}
.main__left--register .nav-tab button {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #33b90f 0%, #0257b2 67.97%);
}
.main__left--register .nav-tab .register__enterprise label i {
  top: -37%;
}
.main__left--register .nav-tab .register__enterprise label input {
  margin-bottom: 20px;
}
.main__left--register .nav-tab .register__enterprise span {
  display: flex;
  align-items: center;
}
.main__left--register .nav-tab .register__enterprise span input {
  margin-right: 10px;
}
.main__left--register .nav-tab .register__enterprise span a {
  color: #219653;
  margin: 0 5px;
}

.lienhe__row {
  display: flex;
}
.lienhe__row--left {
  width: 50%;
}
.lienhe__row--left h2 {
  margin-top: 40px;
  margin-bottom: 29px;
}
.lienhe__row--left h3.title_26 {
  text-transform: none;
  color: #289300;
}
.lienhe__row--left ul li {
  margin-top: 16px;
}
.lienhe__row--left ul li i {
  margin-right: 16px;
}
.lienhe__row--right p.content_16 {
  margin-bottom: 20px;
}
.lienhe__row--right form .form_env {
  width: 100%;
  height: auto;
  position: relative;
}
.lienhe__row--right form .form_env i {
  position: absolute;
  top: 31%;
  left: 15px;
  color: #bdbdbd;
}
.lienhe__row--right form .form_env input,
.lienhe__row--right form .form_env textarea {
  width: 100%;
  height: 60px;
  border: 0.5px solid #e0e0e0;
  padding-left: 40px;
  border-radius: 5px;
}
.lienhe__row--right form .form_env input:focus-visible,
.lienhe__row--right form .form_env textarea:focus-visible {
  outline: none;
  border: 0.5px solid #289300;
  border-left: 5px solid #289300;
}
.lienhe__row--right form .form_env input::placeholder,
.lienhe__row--right form .form_env textarea::placeholder {
  color: #bdbdbd;
}
.lienhe__row--right form .form_env textarea {
  margin-top: 20px;
  width: 100%;
  height: 101px;
  padding-top: 10px;
}
.lienhe__row--right form .row-input {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 0;
}
.lienhe__row--right form .row-input .form_env:first-child {
  margin-right: 15px;
}
.lienhe__row--right form .row-input .form_env i {
  top: 36%;
}
.lienhe__row--right form button {
  width: 145px;
  height: 51px;
  background: #289300;
  border-radius: 46px;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.6s;
}
.lienhe__row--right form .textarea i {
  top: -69px;
}
.lienhe--map {
  margin: 50px 0 60px 0;
}

@media (max-width: 1000px) {
  .lienhe__row {
    flex-direction: column;
  }
  .lienhe__row--left {
    width: 100%;
  }
  .lienhe__row--right {
    width: 100%;
  }
}
.site51_html_col0_gioithieu .gioithieu {
  display: flex;
  align-items: center;
  margin: 61px 0 101px 0;
}
.site51_html_col0_gioithieu .gioithieu__left {
  width: 44%;
  padding-right: 15px;
}
.site51_html_col0_gioithieu .gioithieu__left h2 {
  margin-bottom: 30px;
}
.site51_html_col0_gioithieu .gioithieu__left ul li {
  text-align: justify;
  margin-bottom: 20px;
}
.site51_html_col0_gioithieu .gioithieu__left .btn-gioithieu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 50px;
  border: 1px solid #289300;
  box-sizing: border-box;
  border-radius: 29px;
  color: #289300;
}
.site51_html_col0_gioithieu .gioithieu__left .btn-gioithieu:hover {
  background: #289300;
  color: #fff;
}
.site51_html_col0_gioithieu .gioithieu__left .btn-animation2::after {
  border-radius: 29px;
}
.site51_html_col0_gioithieu .gioithieu__right {
  width: 52%;
}
.site51_html_col0_gioithieu .gioithieu__right--img {
  position: relative;
  height: 540px;
  overflow: hidden;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video {
  width: 470px;
  height: 286px;
  border-radius: 10px;
  position: absolute;
  top: calc(50% - 143px);
  left: calc(50% - 235px);
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .video {
  position: relative;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .video .play-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .video .play-video span {
  display: inline-block;
  width: 52.59px;
  height: 52.59px;
  background: #289300;
  border-radius: 50%;
  text-align: center;
  padding-top: 16px;
  position: relative;
  color: #fff;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .video .play-video span i {
  font-size: 20px;
}
@keyframes amoniPlay {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .video .play-video span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #289300;
  animation: infinite 1s amoniPlay linear;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .modal__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .modal__content {
  width: 70%;
  height: 70%;
  margin: auto;
  position: relative;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem 1rem 1rem 1rem;
  transition: all 0.3s;
  transform: translateY(10%);
  overflow: hidden;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .modal__content iframe {
  width: 100%;
  height: 100%;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .modal__close {
  display: inline-flex;
  border-radius: 0.25rem;
  color: #289300;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .show-modal {
  visibility: visible;
  opacity: 1;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-video .show-modal .modal__content {
  transform: translateY(0);
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-img {
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-img img {
  max-width: 100%;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-img:first-child {
  top: 0;
  left: 0;
  width: 254px;
  height: 155px;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(2) {
  top: -1rem;
  right: 2rem;
  width: 157px;
  height: 97px;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(3) {
  bottom: 0;
  left: 1rem;
  width: 152px;
  height: 95px;
}
.site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 140px;
  height: 157px;
  z-index: 1;
}
.site51_html_col0_gioithieu .tienich {
  background-color: #289300;
}
.site51_html_col0_gioithieu .tienich__row {
  display: flex;
}
.site51_html_col0_gioithieu .tienich__row--item {
  margin: 50px 0;
  width: 25%;
  text-align: center;
}
.site51_html_col0_gioithieu .tienich__row--item .item--img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #fff;
  margin-bottom: 47px;
}
.site51_html_col0_gioithieu .tienich__row--item p {
  color: #fff;
}
.site51_html_col0_gioithieu .giatri {
  background-position: center;
  background-size: cover;
  float: left;
  width: 100%;
  padding: 110px 0;
}
.site51_html_col0_gioithieu .giatri__content {
  max-width: 564px;
  width: 100%;
  float: right;
}
.site51_html_col0_gioithieu .giatri__content-item {
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site51_html_col0_gioithieu .giatri__content-item__icon {
  width: 95px;
  height: 95px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site51_html_col0_gioithieu .giatri__content-item__icon img {
  max-width: 100%;
}
.site51_html_col0_gioithieu .giatri__content-item__text {
  max-width: 434px;
  width: 100%;
  margin-left: 35px;
  text-align: justify;
}
.site51_html_col0_gioithieu .giatri__content-item__text h4 {
  color: #424242;
}
.site51_html_col0_gioithieu .giatri__content-item__text p {
  margin-top: 10px;
  line-height: 135.02%;
  color: #424242;
}
.site51_html_col0_gioithieu .giatri__content-item__text p span {
  font-weight: bold;
  color: #289300;
}
.site51_html_col0_gioithieu .slogan {
  float: left;
  width: 100%;
  padding: 50px 0px 60px 0px;
}
.site51_html_col0_gioithieu .slogan .content_40 {
  position: relative;
}
.site51_html_col0_gioithieu .slogan .content_40 span {
  display: inline-block;
}
.site51_html_col0_gioithieu .slogan .content_40 span:first-child {
  transform: translateY(-20px);
}
.site51_html_col0_gioithieu .slogan .content_40 span:last-child {
  transform: translateY(5px);
}

@media (max-width: 1200px) {
  .site51_html_col0_gioithieu .gioithieu {
    justify-content: space-between;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-video {
    width: 400px;
    height: 244px;
    top: calc(50% - 122px);
    left: calc(50% - 200px);
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:first-child {
    top: 38px;
    left: -36px;
    width: 215px;
    height: 131px;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(2) {
    top: 2rem;
    right: 1rem;
    width: 140px;
    height: 86px;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(3) {
    bottom: 25px;
    left: -2rem;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(4) {
    bottom: 19px;
    right: 0px;
    width: 133px;
    height: 150px;
  }
}
@media (max-width: 1000px) {
  .site51_html_col0_gioithieu .gioithieu {
    flex-direction: column;
  }
  .site51_html_col0_gioithieu .gioithieu__left {
    width: 100%;
  }
  .site51_html_col0_gioithieu .gioithieu__right {
    width: 100%;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-video {
    width: 78%;
    height: 50%;
    top: 25%;
    left: 11%;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-video .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-video .modal__content {
    width: 95%;
    height: 40%;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:first-child {
    top: 38px;
    left: 0px;
    width: 30%;
    height: 20%;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(2) {
    top: 2rem;
    right: 1rem;
    width: 27%;
    height: 17%;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(3) {
    left: 0rem;
    bottom: 25px;
    width: 26%;
    height: 17%;
  }
  .site51_html_col0_gioithieu .gioithieu__right--img .item-img:nth-child(4) {
    bottom: 19px;
    right: 0px;
    width: 25%;
    height: 27%;
  }
  .site51_html_col0_gioithieu .tienich__row--item .item--img {
    margin-bottom: 27px;
  }
}
@media (max-width: 500px) {
  .site51_html_col0_gioithieu .gioithieu__right--img {
    height: 454px;
  }
  .site51_html_col0_gioithieu .giatri__content-item__icon {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  .site51_html_col0_gioithieu .giatri__content-item__text {
    margin-left: 15px;
  }
}
@media (max-width: 415px) {
  .site51_html_col0_gioithieu .gioithieu__right--img {
    height: 342px;
  }
  .site51_html_col0_gioithieu .tienich__row {
    flex-wrap: wrap;
  }
  .site51_html_col0_gioithieu .tienich__row--item {
    margin: 28px 0px 20px 0px;
    width: 50%;
  }
  .site51_html_col0_gioithieu .tienich__row--item .item--img {
    margin-bottom: 27px;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.banner-in img {
  max-width: 100%;
}

.tintuc {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.tintuc__center {
  max-width: 894px;
  width: 100%;
}
.tintuc .content-tab {
  display: none;
  visibility: hidden;
}
.tintuc .z-index {
  display: block;
  visibility: visible;
  animation: show 1s linear;
}
.tintuc .content-tab {
  width: 100%;
}
.tintuc .content-tab h2 {
  color: #333333;
}
.tintuc .content-tab .main-tintuc {
  width: 100%;
}
.tintuc .content-tab .main-tintuc .item-tintuc {
  border-bottom: 1px solid #e0e0e0;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.tintuc .content-tab .main-tintuc .item-img {
  position: relative;
  max-width: 394px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.tintuc .content-tab .main-tintuc .item-img img {
  max-width: 100%;
  transition: all 0.4s ease;
  transform: scale(1);
}
.tintuc .content-tab .main-tintuc .item-img .date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70px;
  height: 79px;
  background: #289300;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tintuc .content-tab .main-tintuc .item-img .date time {
  text-align: center;
  color: #ffffff;
}
.tintuc .content-tab .main-tintuc .item-img .date time span {
  font-weight: bold;
  font-size: 24px;
  line-height: 150.5%;
}
.tintuc .content-tab .main-tintuc .item-img:hover {
  transition: all 0.4s ease;
}
.tintuc .content-tab .main-tintuc .item-img:hover::before {
  -webkit-animation: shine 1.5s;
  animation: shine 1.5s;
}
.tintuc .content-tab .main-tintuc .item-img:hover img {
  transform: scale(1.05);
}
.tintuc .content-tab .main-tintuc .item-img::before {
  position: absolute;
  top: -70px;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 128%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.tintuc .content-tab .main-tintuc .item-text {
  max-width: 470px;
  width: 100%;
}
.tintuc .content-tab .main-tintuc .item-text h4 {
  color: #5a5a5a;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tintuc .content-tab .main-tintuc .item-text h4:hover {
  color: #289300;
}
.tintuc .content-tab .main-tintuc .item-text p {
  line-height: 150%;
  color: #5a5a5a;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tintuc .content-tab .main-tintuc .item-text .flex-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  margin: 15px 0;
}
.tintuc .content-tab .main-tintuc .item-text .flex-text p {
  color: #828282;
}
.tintuc .content-tab .main-tintuc .item-text .btn-docthem {
  display: block;
  width: 109px;
  height: 38px;
  background: #fff;
  border-radius: 46px;
  color: #289300;
  text-align: center;
  padding: 6px;
  overflow: hidden;
  border: 1px solid #289300;
}
.tintuc .content-tab .main-tintuc .item-text .btn-docthem:hover {
  border: none;
  background: #289300;
  color: #fff;
}
.tintuc .content-tab .main-tintuc .item-text .btn-animation2::after {
  border-radius: 46px;
}
.tintuc__left {
  max-width: 288px;
  width: 100%;
}
.tintuc__left .tab-tintuc {
  position: relative;
  margin-top: 30px;
}
.tintuc__left .tab-tintuc::before, .tintuc__left .tab-tintuc::after {
  content: "";
  width: 209px;
  position: absolute;
  border: 1px solid #e0e0e0;
  right: 0;
}
.tintuc__left .tab-tintuc::before {
  top: -27px;
}
.tintuc__left .tab-tintuc::after {
  bottom: -23px;
}
.tintuc__left .tab-tintuc nav {
  position: relative;
}
.tintuc__left .tab-tintuc nav::before {
  content: "";
  width: 70px;
  height: 4px;
  position: absolute;
  background-color: #289300;
  top: -29px;
  left: 0;
  border-radius: 10px;
}
.tintuc__left .tab-tintuc nav::after {
  content: "";
  width: 70px;
  height: 4px;
  position: absolute;
  background-color: #289300;
  bottom: -25px;
  left: 0;
  border-radius: 10px;
}
.tintuc__left .tab-tintuc label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #fff;
  color: #2d3e50;
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  margin-bottom: 15px;
  position: relative;
}
.tintuc__left .tab-tintuc label.active, .tintuc__left .tab-tintuc label:hover {
  transition: 0.5s all;
  background: #289300;
  color: #fff;
}
.tintuc__left .tab-tintuc .continue,
.tintuc__left .tab-tintuc .back {
  display: none;
  position: relative;
  width: 25px;
  height: 45px;
}
.tintuc__left .tab-tintuc .continue::before,
.tintuc__left .tab-tintuc .back::before {
  position: absolute;
  content: "";
  bottom: 11px;
  width: 16px;
  height: 16px;
  border-top: 4px solid #f90411;
  border-right: 4px solid #f90411;
}
.tintuc__left .tab-tintuc .continue::before {
  right: 0;
  transform: rotateZ(45deg);
}
.tintuc__left .tab-tintuc .back::before {
  left: 0;
  transform: rotateZ(-135deg);
}
.tintuc__left .tinkhac {
  margin-top: 50px;
}
.tintuc__left .tinkhac-item {
  display: flex;
  border-bottom: 0.5px solid #eaeaea;
  padding: 15px 0;
}
.tintuc__left .tinkhac-item .item-img {
  display: block;
  max-width: 120px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.tintuc__left .tinkhac-item .item-img:hover img {
  transform: scale(1.05) rotate(3deg);
  transition: all 0.4s ease;
}
.tintuc__left .tinkhac-item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.tintuc__left .tinkhac-item .content_16 {
  margin-left: 16px;
  max-width: 170px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #5a5a5a;
}
.tintuc__left .tinkhac-item .content_16:hover {
  color: #289300;
}
.tintuc .pagination {
  max-width: 345px;
  margin: 40px auto;
}

@media (max-width: 1200px) {
  .tintuc {
    flex-direction: column;
  }
  .tintuc__center {
    margin-top: 45px;
    max-width: 100%;
    width: 100%;
    order: 2;
  }
  .tintuc__left {
    max-width: 100%;
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
  }
  .tintuc__left .tab-tintuc {
    order: 2;
  }
  .tintuc__left .tab-tintuc::before, .tintuc__left .tab-tintuc::after {
    width: 80%;
  }
  .tintuc__left .tab-tintuc nav::before, .tintuc__left .tab-tintuc nav::after {
    width: 17%;
  }
  .tintuc__left .tab-tintuc nav::after {
    bottom: -38px;
  }
  .tintuc__left .tinkhac {
    order: 1;
    margin-top: 0;
  }
  .tintuc__left .tinkhac-item {
    width: 100%;
    flex-direction: column;
  }
  .tintuc__left .tinkhac-item .item-img {
    max-width: 100%;
  }
  .tintuc__left .tinkhac-item .content_16 {
    max-width: 100%;
  }
  .tintuc__left .tinkhac .slide-tin .slick-slide {
    padding-right: 15px;
  }
  .tintuc__left .tinkhac .slide-tin .tinkhac-item {
    border: none;
  }
  .tintuc__left .tinkhac .slide-tin .tinkhac-item .content_16 {
    margin-top: 10px;
    margin-left: 0;
    line-height: 140%;
  }
}
@media (max-width: 1000px) {
  .tintuc .tab-tintuc label {
    height: 40px;
    margin-bottom: 8px;
  }
  .tintuc .tab-tintuc nav::after {
    bottom: -31px;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-img {
    width: 48%;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text {
    width: 48%;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text h4 {
    margin-bottom: 10px;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text .flex-text {
    margin: 8px 0;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text .btn-docthem {
    width: 95px;
    height: 37px;
    padding: 8px;
  }
}
@media (max-width: 767px) {
  .tintuc .content-tab .main-tintuc .item-tintuc {
    flex-direction: column;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-img {
    max-width: 100%;
    width: 100%;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-img .date {
    width: 60px;
    height: 69px;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-img .date span {
    font-size: 20px;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text {
    max-width: 100%;
    width: 100%;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text h4 {
    margin-bottom: 10px;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text .flex-text {
    margin: 8px 0;
  }
  .tintuc .content-tab .main-tintuc .item-tintuc .item-text .btn-docthem {
    width: 95px;
    height: 37px;
    padding: 8px;
  }
}
.chitiettintuc h2.title_30 {
  margin-left: 0;
}
.chitiettintuc h2.title_30::before {
  display: none;
}
.chitiettintuc h3 {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  color: #333333;
}
.chitiettintuc p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 18px;
}
.chitiettintuc p img {
  max-width: 100%;
  border-radius: 10px;
}
.chitiettintuc .gettit {
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chitiettintuc .gettit .date img {
  margin-top: -4px;
  margin-right: 10px;
}
.chitiettintuc .gettit .operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 349px;
  width: 100%;
}
.chitiettintuc .gettit .operation .btn {
  outline: 0;
  width: auto;
  /* margin-left: 5px; */
  padding: 5px;
  border-radius: 3px;
  border: none;
}
.chitiettintuc .gettit .operation .btn span {
  color: #ffffff;
}
.chitiettintuc .gettit .operation .fb {
  background: #1877f2;
}
.chitiettintuc .gettit .operation .fb img {
  padding-right: 10px;
  margin-top: -2px;
  margin-left: 3px;
}
.chitiettintuc .gettit .operation .fb .like {
  padding-right: 5px;
}
.chitiettintuc .gettit .operation .zl {
  background: #03a5fa;
}
.chitiettintuc .gettit .operation .zl img {
  padding-right: 6px;
  margin-top: -2px;
}
.chitiettintuc .gettit .operation .tw {
  background: #1b95e0;
}
.chitiettintuc .gettit .operation .tw img {
  padding-right: 6px;
  margin-top: -2px;
}
.chitiettintuc .gettit .operation .in {
  background: #c4c4c4;
}
.chitiettintuc .number {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  border: 1px solid #289300;
  border-radius: 50%;
  box-sizing: border-box;
  color: #289300;
  margin-right: 12px;
  padding: 5px;
}
.chitiettintuc .tuongtac .item-share {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 18px 0;
}
.chitiettintuc .tuongtac .item-share p {
  color: #bdbdbd;
  margin-bottom: 0;
}
.chitiettintuc .tuongtac .item-share p i {
  margin-right: 15px;
}
.chitiettintuc .tuongtac .item-share p span {
  color: #289300;
}
.chitiettintuc .tuongtac .item-share .share-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 224px;
  width: 100%;
  color: #bdbdbd;
}
.chitiettintuc .tuongtac .item-share .share-icon a {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #289300;
  text-align: center;
  padding: 4px;
  color: #fff;
  font-size: 12px;
}
.chitiettintuc .tuongtac .item-comment {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px 9px;
  justify-content: space-between;
  background: #f8f8f8;
}
.chitiettintuc .tuongtac .item-comment .check-cmt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chitiettintuc .tuongtac .item-comment .check-cmt span {
  padding-right: 8px;
}
.chitiettintuc .tuongtac .item-comment .check-cmt .item-cmt select {
  padding: 5px 7px 5px 7px;
  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 3px;
}
.chitiettintuc .tuongtac .item-input-comment {
  position: relative;
  margin-top: 20px;
}
.chitiettintuc .tuongtac .item-input-comment .image_cmt {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 102px;
  width: 100%;
  height: 102px;
  background: #306cbe;
  text-align: center;
  padding-top: 10px;
}
.chitiettintuc .tuongtac .item-input-comment .image_cmt img {
  max-width: 100%;
}
.chitiettintuc .tuongtac .item-input-comment textarea {
  width: 100%;
  height: 102px;
  padding: 10px;
  padding-left: 111px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  color: #6b6b6b;
}
.chitiettintuc .tuongtac .item-input-comment textarea::placeholder {
  color: #6b6b6b;
}
.chitiettintuc .tuongtac .item-input-comment textarea:focus-visible {
  outline: none;
}
.chitiettintuc .tuongtac .comment_in_fb {
  margin-top: 20px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 0;
}
.chitiettintuc .tuongtac .comment_in_fb a {
  color: #306cbe;
}
.chitiettintuc .tuongtac .comment_in_fb a i {
  margin-right: 14px;
}
.chitiettintuc .tintuclienquan {
  margin-top: 48px;
  margin-bottom: 58px;
}
.chitiettintuc .tintuclienquan h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  margin-left: 28px;
  margin-bottom: 32px;
}
.chitiettintuc .tintuclienquan h3::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -28px;
  background: url(../images/icon-title.png);
  width: 23px;
  height: 21px;
}
.chitiettintuc .tintuclienquan .row-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chitiettintuc .tintuclienquan .row-main .item-tin {
  display: block;
  max-width: 279px;
  width: 33%;
}
.chitiettintuc .tintuclienquan .row-main .item-img {
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.chitiettintuc .tintuclienquan .row-main .item-img img {
  max-width: 100%;
  transition: all 0.4s ease;
  transform: scale(1);
}
.chitiettintuc .tintuclienquan .row-main .item-img .date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 49px;
  height: 55px;
  background: #289300;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chitiettintuc .tintuclienquan .row-main .item-img .date time {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}
.chitiettintuc .tintuclienquan .row-main .item-img .date time span {
  font-weight: bold;
  font-size: 18px;
  line-height: 150.5%;
}
.chitiettintuc .tintuclienquan .row-main .item-img:hover {
  transition: all 0.4s ease;
}
.chitiettintuc .tintuclienquan .row-main .item-img:hover::before {
  -webkit-animation: shine 1.5s;
  animation: shine 1.5s;
}
.chitiettintuc .tintuclienquan .row-main .item-img:hover img {
  transform: scale(1.05);
}
.chitiettintuc .tintuclienquan .row-main .item-img::before {
  position: absolute;
  top: 0px;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 128%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.chitiettintuc .tintuclienquan .row-main .item-text p {
  color: #5A5A5A;
  margin: 15px 0 8px 0;
}

.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
}
.pagination ul li {
  margin-right: 14px;
}
.pagination ul li:last-child() {
  margin-right: 0;
}

.pagination li.active a {
  background: #289300;
  color: #ffffff;
  border: none;
}

.pagination li a {
  width: 37px;
  height: 37px;
  border: 1px solid #8C8C8C;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #8C8C8C;
  margin: 0 8px;
}
.pagination li a:hover {
  color: #ffffff;
  background-color: #289300;
}
.site51_html_col9_dathangthanhcong {
  width: 100%;
  overflow: hidden;
  background: #E5E5E5;
  padding-top: 30px;
  padding-bottom: 60px;
}
.site51_html_col9_dathangthanhcong .mall {
  max-width: 900px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang {
  width: 100%;
  background: #FFFFFF;
  padding: 0 32px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .breadcrumb {
  margin-bottom: 50px;
  padding-top: 30px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-title {
  text-align: center;
  margin-bottom: 30px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-title img {
  margin-bottom: 22px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-title h2 {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #289300;
  margin-bottom: 20px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-title p {
  padding: 0 80px;
  text-align: center;
  color: #4F4F4F;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-title p span {
  font-weight: bold;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line {
  width: 100%;
  padding: 20px;
  background: #F6F6F6;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 5px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line .title-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line .title-line h3 {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #4F4F4F;
  margin-bottom: 20px;
  margin-right: 15px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line .title-line a {
  color: #289300;
  margin-bottom: 20px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line ul li {
  color: #4F4F4F;
  margin-bottom: 15px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line .total-amount {
  display: flex;
  align-items: center;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line .total-amount h5 {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  margin-right: 3px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .item-information-line .total-amount p {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  color: #FF0000;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .btn-cancel {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.site51_html_col9_dathangthanhcong .item_product_giohang .btn-cancel a {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #289300;
}
.site51_html_col9_dathangthanhcong .item-delivery-time {
  width: 100%;
  background: #FFFFFF;
  padding: 31px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time h3 {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #4F4F4F;
  margin-bottom: 40px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .title-delivery {
  padding: 0 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .title-delivery p {
  color: #4F4F4F;
  margin-bottom: 15px;
  margin-right: 15px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .title-delivery a {
  color: #289300;
  margin-bottom: 15px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule {
  margin-bottom: 20px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule .sp-schedule {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #CCCCCC;
  margin-bottom: 8px;
  padding: 0 28px;
  padding-bottom: 0;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule .sp-schedule .image {
  max-width: 56px;
  min-width: 56px;
  height: 45px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 23px;
  margin-bottom: 20px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule .sp-schedule .image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule .sp-schedule .tt-title-sp {
  margin-bottom: 20px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule .sp-schedule .tt-title-sp h5 {
  font-weight: bold;
  color: #4F4F4F;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule .sp-schedule .tt-title-sp p {
  font-weight: bold;
  color: #828282;
  margin-left: 0;
  margin-bottom: 0;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .total-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .total-amount h5 {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  color: #4F4F4F;
  margin-bottom: 10px;
  margin-right: 15px;
}
.site51_html_col9_dathangthanhcong .item-delivery-time .total-amount p {
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  color: #FF0000;
  margin-bottom: 10px;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience {
  width: 100%;
  background: #FFFFFF;
  padding: 30px;
  margin-bottom: 5px;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .refund {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .refund a {
  color: #289300;
  text-align: center;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .buy_mores {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue bold;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 30px;
  background: #289300;
  border-radius: 49px;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience {
  width: 100%;
  padding: 17px 30px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience::before {
  position: absolute;
  content: "";
  top: 0;
  left: 1px;
  width: 9px;
  height: 100%;
  background: #289300;
  border-radius: 5px;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience p {
  color: #000000;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate {
  width: 318px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label {
  text-align: center;
  cursor: pointer;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label input {
  display: none;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label input[type=radio]:checked + .icon-item > .icon:first-child {
  display: none;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label input[type=radio]:checked + .icon-item > .icon:last-child {
  display: block;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label .icon-item .icon {
  width: 45px;
  height: 45px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 12px;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label .icon-item .icon img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label .icon-item .icon:last-child {
  display: none;
}
.site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label p {
  color: #4F4F4F;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .site51_html_col9_dathangthanhcong .item_product_giohang .item-title p {
    padding: 0;
  }
  .site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience {
    display: block;
    padding: 17px 30px;
  }
  .site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience p {
    margin-bottom: 25px;
  }
  .site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .site51_html_col9_dathangthanhcong .item_product_giohang {
    padding-left: 15px;
    padding-right: 15px;
  }
  .site51_html_col9_dathangthanhcong .item-delivery-time {
    padding-left: 15px;
    padding-right: 15px;
  }
  .site51_html_col9_dathangthanhcong .item-delivery-time .title-delivery {
    padding: 0 15px;
  }
  .site51_html_col9_dathangthanhcong .item-delivery-time .all-sp-schedule .sp-schedule {
    padding: 0 15px;
  }
  .site51_html_col9_dathangthanhcong .item-shopping-experience {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 460px) {
  .site51_html_col9_dathangthanhcong .item-shopping-experience .evaluate-experience .item-evaluate label .icon-item .icon {
    width: 36px;
    height: 36px;
  }
}
.site51_profil_col3_locsanpham {
  width: 248px;
  margin-right: 30px;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler {
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 12px;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .pro_env {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid #E0E0E0;
  margin: 0 -20px;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 17px 0;
  height: 316px;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler > div {
  margin-bottom: 15px;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler .fitler_flex {
  display: flex;
  justify-content: space-between;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler .fitler_flex span {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #BDBDBD;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input {
  position: absolute;
  left: -9999px;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:focus {
  box-shadow: none;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:not(:checked) + label:after {
  color: black;
  opacity: 0;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:checked + label {
  color: #289300;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:checked + label:before {
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:checked + label:after {
  opacity: 1;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:disabled + label {
  color: #289300;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:disabled + label:before {
  border: 2px solid gray;
  background: #ffffff;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:disabled:checked + label {
  color: gray;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler input:disabled:checked + label:before {
  border: 1px solid gray;
  background: gray;
  color: gray;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #666666;
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label:before {
  content: "";
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label:after {
  content: "✓";
  color: white;
  left: 0px;
  width: 12px;
  height: 12px;
  background: #289300;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .site51_profil_col3_locsanpham {
    width: 210px;
    margin-right: 15px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler {
    padding: 0 12px;
    margin-bottom: 10px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .pro_env {
    padding: 13px 16px;
    margin: 0 -16px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler {
    padding: 15px 0;
    height: 316px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler div {
    margin-bottom: 12px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler .fitler_flex span {
    font-size: 11px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label {
    padding-left: 20px;
    font-size: 14px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label:before {
    left: 0;
    width: 12px;
    height: 12px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label:after {
    left: 0px;
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 576px) {
  .site51_profil_col3_locsanpham {
    width: 100%;
    margin-right: 0px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler {
    padding: 15px 0;
    height: auto;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler div {
    margin-bottom: 12px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler .fitler_flex span {
    font-size: 11px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label {
    padding-left: 20px;
    font-size: 14px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label:before {
    left: 0;
    width: 12px;
    height: 12px;
  }
  .site51_profil_col3_locsanpham .locsanpham .pro_fitler .fitler label:after {
    left: 0px;
    width: 12px;
    height: 12px;
  }
}

/*# sourceMappingURL=view.css.map */
